- @title = "Pricing"
.container.pt-3
  .row
    .col-12
      %nav.navbar.navbar-landing.navbar-light.navbar-expand-lg.my-0
        %a.navbar-brand{href: "javascript:"}
          = image_tag image_path('rrt/pyrrmid_64.png'), width: 32, height: 32, class: 'mr-2'
          PYRMID
        %button.navbar-toggler{"aria-controls" => "standardLandingNavWithSignup", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#standardLandingNavWithSignup", "data-toggle" => "collapse", type: "button"}
          %span.navbar-toggler-icon
        #standardLandingNavWithSignup.collapse.navbar-collapse
          %ul.nav.navbar-nav.ml-auto
            %li.nav-item
              %a.nav-link{href: "javascript:"} HOME
            %li.nav-item
              %a.nav-link{href: "javascript:"} ABOUT
            %li.nav-item
              %a.nav-link{href: "javascript:"} TEAM
            %li.nav-item
              %a.nav-link{href: "javascript:"} CONTACT
            %li.nav-item
              %a.btn.btn-sm.btn-primary.text-white{href: "javascript:"} SIGN UP
.container
  .row
    .col-12
      = render partial: "content_blocks/general/38"
%section.mt-5.mb-5
  .container
    .row
      .col-12
        %h4.text-center.text-muted Used and loved by some of the world's greatest companies
        = render partial: "content_blocks/general/39"
%section.bg-dark
  .container
    .row
      .col-12
        = render partial: "content_blocks/general/32"
