<div class='row'>
  <div class='col-sm-12'>
    <div class="panel panel-default" id="buttons">
      <div class="panel-heading">Images
      </div>
      <div class="panel-body">
        <p><img src="http://placehold.it/100x100" class="img-rounded">
          <img src="http://placehold.it/100x100" class="img-circle">
          <img src="http://placehold.it/100x100" class="img-thumbnail"></p>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h3>Default</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <a href="#" class="thumbnail">
              <img src="http://fillmurray.com/300/300" alt="" />
            </a>
          </div>
          <div class="col-lg-3">
            <a href="#" class="thumbnail">
              <img src="http://fillmurray.com/300/300" alt="" />
            </a>
          </div>
          <div class="col-lg-3">
            <a href="#" class="thumbnail">
              <img src="http://fillmurray.com/300/300" alt="" />
            </a>
          </div>
          <div class="col-lg-3">
            <a href="#" class="thumbnail">
              <img src="http://fillmurray.com/300/300" alt="" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h3>Custom Content</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="thumbnail">
              <img src="http://fillmurray.com/500/200" alt="" />
              <div class="caption">
                <h3>Thumbnail Label</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn btn-default">Action</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="thumbnail">
              <img src="http://fillmurray.com/500/200" alt="" />
              <div class="caption">
                <h3>Thumbnail Label</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn btn-default">Action</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="thumbnail">
              <img src="http://fillmurray.com/500/200" alt="" />
              <div class="caption">
                <h3>Thumbnail Label</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn btn-default">Action</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>