<div class='row'>
  <div class='col-sm-12'>
    <div class="panel panel-default" id="buttons">
      <div class="panel-heading">Images
      </div>
      <div class="panel-body">
        <p><img src="http://placehold.it/100x100" class="img-rounded">
          <img src="http://placehold.it/100x100" class="img-circle">
          <img src="http://placehold.it/100x100" class="img-thumbnail"></p>
        </div>
      </div>
    </div>
  </div>
</div>