<div class='row'>
  <div class='col-sm-12'>
    <div class="panel panel-default" id="media-object">
      <div class="panel-heading">Media Object
      </div>
      <div class="panel-body">
        <p></p>
        <div class="media">
          <a class="pull-left" href="#">    <img class="media-object" src="http://fillmurray.com/64/64">  </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>This is the content for your media.</p>
            <div class="media">
              <a class="pull-left" href="#">    <img class="media-object" src="http://fillmurray.com/64/64">  </a>
              <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                <p>This is the content for your media.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>