<div class='row'>
  <div class='col-sm-12'>
    <div class="panel panel-default" id="pagination">
      <div class="panel-heading">Pagination
      </div>
      <div class="panel-body">
        <ul class="pagination" style="margin-right: 10px;">
          <li>
            <a href="#">Prev</a>
          </li>
          <li>
            <a href="#">1</a>
          </li>
          <li>
            <a href="#">2</a>
          </li>
          <li>
            <a href="#">3</a>
          </li>
          <li>
            <a href="#">4</a>
          </li>
          <li>
            <a href="#">Next</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <div class="panel panel-default" id="pagination">
      <div class="panel-heading">Pagination Group
      </div>
      <div class="panel-body">
        <ul class="pagination pagination-group" style="margin-right: 10px;">
          <li>
            <a href="#">Prev</a>
          </li>
          <li>
            <a href="#">1</a>
          </li>
          <li>
            <a href="#">2</a>
          </li>
          <li>
            <a href="#">3</a>
          </li>
          <li>
            <a href="#">4</a>
          </li>
          <li>
            <a href="#">Next</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Large Size</h3>
      </div>
      <div class="panel-body">
        <ul class="pagination pagination-lg">
          <li>
            <a href="#">Prev</a>
          </li>
          <li>
            <a href="#">1</a>
          </li>
          <li>
            <a href="#">2</a>
          </li>
          <li>
            <a href="#">3</a>
          </li>
          <li>
            <a href="#">4</a>
          </li>
          <li>
            <a href="#">Next</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Small Size</h3>
      </div>
      <div class="panel-body">
        <ul class="pagination pagination-sm">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li class="active"><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Pagers</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <h3>Default</h3>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <h3>Aligned Links</h3>
            <ul class="pager">
              <li class="previous"><a href="#">&larr; Previous</a></li>
              <li class="next"><a href="#">Next &rarr;</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <div class="panel panel-default" id="pagination">
      <div class="panel-heading">Pagination Block
      </div>
      <div class="panel-body">
        <ul class="pagination pagination-block" style="margin-right: 10px;">
          <li class="previous">
            <a href="#">&larr; Prev</a>
          </li>
          <li>
            <a href="#">1</a>
          </li>
          <li>
            <a class="active" href="#">2</a>
          </li>
          <li>
            <a href="#">3</a>
          </li>
          <li>
            <a href="#">4</a>
          </li>
          <li class="next">
            <a href="#">Next &rarr;</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>