<div class="row">
  <div class="col-lg-3">
    <a data-toggle="tooltip" title="top tooltip"
      id="tooltip-top">Tooltip</a>
  </div>
  <div class="col-lg-3">
    <a data-toggle="tooltip" title="left tooltip" data-placement="left"
      id="tooltip-left">Left Tooltip</a>
  </div>
  <div class="col-lg-3">
    <a data-toggle="tooltip" title="bottom tooltip" data-placement="bottom"
      id="tooltip-bottom">Bottom Tooltip</a>
  </div>
  <div class="col-lg-3">
    <a data-toggle="tooltip" title="right tooltip" data-placement="right"
      id="tooltip-right">Right Tooltip</a>
  </div>
</div>