<div class="container-fluid">
  <h6>CONTEXTUAL COLOR CARDS</h6>
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="card bg-primary text-white">
        <div class="card-body pt-4 text-center">
          <i class="ti-cloud-down display-1"></i>
          <h3 class="m-0 mt-2">326</h3>
          <p class="text-opacity-4">DOWNLOADS</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card bg-info text-white">
        <div class="card-body pt-4 text-center">
          <i class="ti-time display-1"></i>
          <h3 class="m-0 mt-2">2m26s</h3>
          <p class="text-opacity-4">AVERAGE TIME ON SITE</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card bg-warning">
        <div class="card-body pt-4 text-center">
          <i class="ti-user display-1"></i>
          <h3 class="m-0 mt-2">1,231</h3>
          <p class="text-opacity-4">DAILY ACTIVE USERS</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card bg-danger">
        <div class="card-body pt-4 text-center">
          <i class="ti-cloud-down display-1"></i>
          <h3 class="m-0 mt-2">326</h3>
          <p class="text-opacity-4">DOWNLOADS</p>
        </div>
      </div>
    </div>
  </div>

  <h6>GRADIENT CARDS</h6>
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="card bg-gradient-1 text-white">
        <div class="card-body pt-4 text-center">
          <i class="ti-cloud-down display-1"></i>
          <h3 class="m-0 mt-2">326</h3>
          <p class="text-opacity-4">DOWNLOADS</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card bg-gradient-2 text-white">
        <div class="card-body pt-4 text-center">
          <i class="ti-time display-1"></i>
          <h3 class="m-0 mt-2">2m26s</h3>
          <p class="text-muted">AVERAGE TIME ON SITE</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card bg-gradient-3">
        <div class="card-body pt-4 text-center">
          <i class="ti-user display-1"></i>
          <h3 class="m-0 mt-2">1,231</h3>
          <p class="text-opacity-4">DAILY ACTIVE USERS</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card bg-gradient-4">
        <div class="card-body pt-4 text-center">
          <i class="ti-cloud-down display-1"></i>
          <h3 class="m-0 mt-2">326</h3>
          <p class="text-muted">DOWNLOADS</p>
        </div>
      </div>
    </div>
  </div>
</div>
