<h6>TABBED CARDS</h6>
<div class="row">
  <div class="col-3">
    <div class="card">
    </div>
  </div>
  <div class="col-3">
    <div class="card">
    </div>
  </div>
  <div class="col-3">
    <div class="card">
    </div>
  </div>
  <div class="col-3">
    <div class="card">
    </div>
  </div>
</div>
