<h6>HERO TILE CARDS</h6>
<div class="row">
  <div class="col-12 col-md-3">
    <div class="card card-tile-hero">
      <div class="card-header text-center">
        <i class="ti-eye display-1 text-brand-primary-lightest"></i>
      </div>
      <div class="card-body text-center">
        <small>PAGE VIEWS</small>
        <h3 class="m-0 leading-normal">3,261</h3>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="card card-tile-hero">
      <div class="card-header text-center">
        <i class="ti-bolt-alt display-1 text-brand-primary-lightest"></i>
      </div>
      <div class="card-body text-center">
        <small>CITIZEN ARRESTS</small>
        <h3 class="m-0 leading-normal">2,985</h3>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="card card-tile-hero">
      <div class="card-header text-center">
        <i class="ti-hand-stop display-1 text-brand-primary-lightest"></i>
      </div>
      <div class="card-body text-center">
        <small>INCARCERATIONS</small>
        <h3 class="m-0 leading-normal">99,654</h3>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="card card-tile-hero">
      <div class="card-header text-center">
        <i class="ti-face-sad display-1 text-brand-primary-lightest"></i>
      </div>
      <div class="card-body text-center">
        <small>CONVICTIONS</small>
        <h3 class="m-0 leading-normal">13,617</h3>
      </div>
    </div>
  </div>
</div>

<h6>SPLIT HERO TILE CARDS</h6>
<div class="row">
  <div class="col-12 col-md-3">
    <div class="card card-tile-hero card-tile-hero-split">
      <div class="card-header text-center">
        <i class="ti-eye display-1 text-brand-primary-lightest"></i>
      </div>
      <div class="card-body text-center">
        <small>PAGE VIEWS</small>
        <h3 class="m-0 leading-normal">3,261</h3>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="card card-tile-hero card-tile-hero-split">
      <div class="card-header text-center">
        <i class="ti-bolt-alt display-1 text-brand-primary-lightest"></i>
      </div>
      <div class="card-body text-center">
        <small>CITIZEN ARRESTS</small>
        <h3 class="m-0 leading-normal">2,985</h3>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="card card-tile-hero card-tile-hero-split">
      <div class="card-header text-center">
        <i class="ti-hand-stop display-1 text-brand-primary-lightest"></i>
      </div>
      <div class="card-body text-center">
        <small>INCARCERATIONS</small>
        <h3 class="m-0 leading-normal">99,654</h3>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="card card-tile-hero card-tile-hero-split">
      <div class="card-header text-center">
        <i class="ti-face-sad display-1 text-brand-primary-lightest"></i>
      </div>
      <div class="card-body text-center">
        <small>CONVICTIONS</small>
        <h3 class="m-0 leading-normal">13,617</h3>
      </div>
    </div>
  </div>
</div>

<h6>CENTER METRIC TILE CARDS</h6>
<div class="row">
  <div class="col-12 col-md-3">
    <div class="card card-tile">
      <div class="card-body text-center">
        <small>PAGE VIEWS</small>
        <h3 class="m-0 leading-normal">3,261</h3>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="card card-tile">
      <div class="card-body text-center">
        <small>CITIZEN ARRESTS</small>
        <h3 class="m-0 leading-normal">2,985</h3>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="card card-tile">
      <div class="card-body text-center">
        <small>INCARCERATIONS</small>
        <h3 class="m-0 leading-normal">99,654</h3>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="card card-tile">
      <div class="card-body text-center">
        <small>CONVICTIONS</small>
        <h3 class="m-0 leading-normal">13,617</h3>
      </div>
    </div>
  </div>
</div>

<h6>LEFT METRIC TILE CARDS</h6>
<div class="row">
  <div class="col-12 col-md-3">
    <div class="card card-tile">
      <div class="card-body text-left">
        <small>PAGE VIEWS</small>
        <h3 class="m-0 leading-normal">3,261</h3>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="card card-tile">
      <div class="card-body text-left">
        <small>CITIZEN ARRESTS</small>
        <h3 class="m-0 leading-normal">2,985</h3>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="card card-tile">
      <div class="card-body text-left">
        <small>INCARCERATIONS</small>
        <h3 class="m-0 leading-normal">99,654</h3>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="card card-tile">
      <div class="card-body text-left">
        <small>CONVICTIONS</small>
        <h3 class="m-0 leading-normal">13,617</h3>
      </div>
    </div>
  </div>
</div>

<h6>RIGHT METRIC TILE CARDS</h6>
<div class="row">
  <div class="col-12 col-md-3">
    <div class="card card-tile">
      <div class="card-body text-right">
        <small>PAGE VIEWS</small>
        <h3 class="m-0 leading-normal">3,261</h3>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="card card-tile">
      <div class="card-body text-right">
        <small>CITIZEN ARRESTS</small>
        <h3 class="m-0 leading-normal">2,985</h3>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="card card-tile">
      <div class="card-body text-right">
        <small>INCARCERATIONS</small>
        <h3 class="m-0 leading-normal">99,654</h3>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="card card-tile">
      <div class="card-body text-right">
        <small>CONVICTIONS</small>
        <h3 class="m-0 leading-normal">13,617</h3>
      </div>
    </div>
  </div>
</div>
