
<%= content_for :js_libs, "gmaps demo-gmaps" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <h6>SATELLITE MAP</h6>
        </div>
        <div class="card-body">
          <div class="gmap-satellite"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <h6>TERRAIN MAP</h6>
        </div>
        <div class="card-body">
          <div class="gmap-terrain"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <h6>HYBRID MAP</h6>
        </div>
        <div class="card-body">
          <div class="gmap-hybrid"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <h6>DEFAULT MAP</h6>
        </div>
        <div class="card-body">
          <div class="gmap-default"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row equal-cols">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <h6>OVERLAY MAP</h6>
        </div>
        <div class="card-body">
          <div class="gmap-overlay"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card card-full-height">
        <div class="card-header">
          <h6>STREETVIEW MAP</h6>
        </div>
        <div class="card-body">
          <div id="gmap-streetview" style="min-height: 485px;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row equal-cols">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <h6>MAP MARKERS</h6>
        </div>
        <div class="card-body">
          <div class="gmap-markers"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card card-full-height">
        <div class="card-header">
          <h6>MAP POLYGONS</h6>
        </div>
        <div class="card-body">
          <div class="gmap-polygons"></div>
        </div>
      </div>
    </div>
  </div>
</div>
