
<%= content_for :js_libs, "jqvectormap demo-jqvectormap" %>

<div class="row">
  <div class="col-12 col-md-6">
    <div class="card" >
      <div class="card-header">
        <h6>WORLD VECTOR MAP</h6>
      </div>
      <div class="card-body">
        <div class="jqv-world-map" style="height: 500px;"></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="card" >
      <div class="card-header">
        <h6>CANADA VECTOR MAP</h6>
      </div>
      <div class="card-body">
        <div class="jqv-canada-map" style="height: 500px;"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card" >
      <div class="card-header">
        <h6>INVERSE WORLD VECTOR MAP</h6>
      </div>
      <div class="card-body">
        <div class="jqv-inverse-world-map" style="height: 500px;"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6">
    <div class="card" >
      <div class="card-header">
        <h6>EUROPE VECTOR MAP</h6>
      </div>
      <div class="card-body">
        <div class="jqv-europe-map" style="height: 500px;"></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="card" >
      <div class="card-header">
        <h6>USA VECTOR MAP</h6>
      </div>
      <div class="card-body">
        <div class="jqv-us-map" style="height: 500px;"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <div class="card" >
      <div class="card-header">
        <h6>INDIA VECTOR MAP</h6>
      </div>
      <div class="card-body">
        <div class="jqv-india-map" style="height: 500px;"></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="card" >
      <div class="card-header">
        <h6>CHINA VECTOR MAP</h6>
      </div>
      <div class="card-body">
        <div class="jqv-china-map" style="height: 500px;"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <div class="card" >
      <div class="card-header">
        <h6>AUSTRALIA VECTOR MAP</h6>
      </div>
      <div class="card-body">
        <div class="jqv-australia-map" style="height: 500px;"></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="card" >
      <div class="card-header">
        <h6>SOUTH AFRICA VECTOR MAP</h6>
      </div>
      <div class="card-body">
        <div class="jqv-southafrica-map" style="height: 500px;"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <div class="card" >
      <div class="card-header">
        <h6>FRANCE VECTOR MAP</h6>
      </div>
      <div class="card-body">
        <div class="jqv-france-map" style="height: 500px;"></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="card" >
      <div class="card-header">
        <h6>GERMANY VECTOR MAP</h6>
      </div>
      <div class="card-body">
        <div class="jqv-germany-map" style="height: 500px;"></div>
      </div>
    </div>
  </div>
</div>
