<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card card-sheet inspectable">
        <h6 class="card-header">Sheet Card</h6>
        <div class="card-body">
          Sheet cards are designed to look like a stack of cards. Could be useful in pagination circumstances where there are more results to display.
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card card-sheet-down inspectable">
        <h6 class="card-header">Sheet Card Down</h6>
        <div class="card-body">
          The sheet stack proceedes downwards only
        </div>
      </div>
    </div>
  </div>
</div>
