<div class='row'>
  <div class='col-sm-12'>
    <div class="panel panel-default" id="dropdowns">
      <div class="panel-heading">Dropdowns
      </div>
      <div class="panel-body clearfix">
        <div class="dropdown">
          <!-- Link or button to toggle dropdown -->
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static;">
            <li class="dropdown-header">Dropdown header</li>
            <li class="disabled">
              <a tabindex="-1" href="#">Action</a>
            </li>
            <li>
              <a tabindex="-1" href="#">Another action</a>
            </li>
            <li>
              <a tabindex="-1" href="#">Something else here</a>
            </li>
            <li class="divider"></li>
            <li>
              <a tabindex="-1" href="#">Separated link</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>