<div class='row'>
  <div class='col-sm-12'>
    <div class="panel panel-default" id="input-groups">
      <div class="panel-heading">Input Groups
      </div>
      <div class="panel-body">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
          <input type="text" class="form-control" placeholder="Username">
        </div><br>
        <div class="input-group">
          <input type="text" class="form-control input-large">
          <span class="input-group-addon input-large">.00</span>
        </div><br>
        <div class="input-group">
          <span class="input-group-addon">$</span><input type="text" class="form-control">
          <span class="input-group-addon">.00</span>
        </div>
      </div>
    </div>
  </div>
</div>