<div class='row'>
  <div class='col-sm-12'>
    <div class="panel panel-default" id="navs">
      <div class="panel-heading">Navs
      </div>
      <div class="panel-body clearfix">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">Profile</a></li>
          <li role="presentation"><a href="#">Messages</a></li>
        </ul>
        <hr>
        <ul class="nav nav-tabs nav-justified">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">Profile</a></li>
          <li role="presentation"><a href="#">Messages</a></li>
        </ul>
        <hr>
        <ul class="nav nav-tabs nav-tabs-line">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">Profile</a></li>
          <li role="presentation"><a href="#">Messages</a></li>
        </ul>
        <hr>
        <ul class="nav nav-tabs nav-justified">
          <li class='active'>
            <a href="#">
              <i class="glyphicon glyphicon-user"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="glyphicon glyphicon-comment"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="glyphicon glyphicon-transfer"></i>
            </a>
          </li>
        </ul>
        <hr>
        <ul class="nav nav-pills">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
        </ul>
        <hr>
        <ul class="nav nav-stacked nav-pills">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
        </ul>
        <hr>
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">Help</a></li>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
              Dropdown <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
        <hr>
        <ol class="breadcrumb">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            Layouts
          </li>
          <li class="active">
            Table
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>