<div class='row'>
  <div class='col-sm-12'>
    <div class="row">
      <div class="col-lg-3">
        <div class="panel panel-primary" id="panels">
          <div class="panel-heading">This is a header
          </div>
          <p class="panel-body">This is a panel</p>
          <div class="panel-footer">This is a footer
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="panel panel-success">
          <div class="panel-heading">This is a header
          </div>
          <div class="panel-body">This is a panel</div>
          <div class="panel-footer">This is a footer
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="panel panel-danger">
          <div class="panel-heading">This is a header
          </div>
          <div class="panel-body">This is a panel</div>
          <div class="panel-footer">This is a footer
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="panel panel-warning">
          <div class="panel-heading">This is a header
          </div>
          <div class="panel-body">This is a panel</div>
          <div class="panel-footer">This is a footer
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="panel panel-info">
          <div class="panel-heading">
            Button Panel
            <div class="btn-group user-drop button-dropdown pull-right">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class='fa fa-cog'></i>
              </button>
              <ul class="dropdown-menu blue" role="menu">
                <li>
                  <a href="#">Options</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a class="text" href="#">Delete</a>
                </li>
              </ul>
            </div>
          </div>
          <p class="panel-body">This is a panel</p>
          <div class="panel-footer">This is a footer
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="panel panel-info">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-tasks"></span>
            Icon Panel
            <div class="btn-group user-drop button-dropdown pull-right">
              <ul class="dropdown-menu blue" role="menu">
                <li>
                  <a href="#">Options</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a class="text" href="#">Delete</a>
                </li>
              </ul>
            </div>
          </div>
          <p class="panel-body">This is a panel</p>
          <div class="panel-footer">This is a footer
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="pull-right label label-info">13</div>
            Badge Panel
          </div>
          <p class="panel-body">This is a panel</p>
          <div class="panel-footer">This is a footer
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <div class="panel panel-info">
          <div class="panel-heading">This is a header
          </div>
          <p class="panel-body">This is a panel</p>
          <div class="panel-footer">This is a footer
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="panel panel-default">
          <div class="panel-heading">This is a header
          </div>
          <div class="panel-body">This is a panel</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">First Item</li>
            <li class="list-group-item">Second Item</li>
            <li class="list-group-item">Third Item</li>
          </ul>
          <div class="panel-footer">This is a footer
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="well" id="wells">Default Well
        </div>
        <div class="well well-sm">Small Well
        </div>
      </div>
      <div class="col-lg-3">
        <div class="well well-lg">Large Padding Well
        </div>
      </div>
      </div>
  </div>
</div>