<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default" id="headings">
      <div class="panel-heading">Headings</div>
      <h1 class="page-header">Page Header <small>With Small Text</small></h1>
      <div class="panel-body">
        <h1>This is an h1 heading</h1>
        <h2>This is an h2 heading</h2>
        <h3>This is an h3 heading</h3>
        <h4>This is an h4 heading</h4>
        <h5>This is an h5 heading</h5>
        <h6>This is an h6 heading</h6>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default" id="content-formatting">
  <div class="panel-heading">Content Formatting
  </div>
  <div class="panel-body">
    <p class="lead">This is a lead paragraph.</p>
    <p>This is an <b>ordinary paragraph</b> that is <i>long enough</i> to wrap to <u>multiple lines</u> so that you can see how the line spacing looks. This is an <b>ordinary paragraph</b> that is <i>long enough</i> to wrap to <u>multiple lines</u> so that you can see how the line spacing looks. This is an <b>ordinary paragraph</b> that is <i>long enough</i> to wrap to <u>multiple lines</u> so that you can see how the line spacing looks. This is an <b>ordinary paragraph</b> that is <i>long enough</i> to wrap to <u>multiple lines</u> so that you can see how the line spacing looks. </p>
    <p class="text-muted">Muted color paragraph.</p>
    <p class="text-warning">Warning color paragraph.</p>
    <p class="text-danger">Danger color paragraph.</p>
    <p class="text-info">Info color paragraph.</p>
    <p class="text-success">Success color paragraph.</p>
    <p><small>This is text in a <code>small</code> wrapper. <abbr title="No Big Deal">NBD</abbr>, right?</small></p>
    <hr>
    <address>                <strong>Twitter, Inc.</strong><br>                795 Folsom Ave, Suite 600<br>                San Francisco, CA 94107<br>                <abbr title="Phone">P:</abbr> (123) 456-7890              </address><address class="col-6">                <strong>Full Name</strong><br>                <a href="mailto:#">first.last@example.com</a>              </address>
    <hr>
    <blockquote>Here's what a blockquote looks like in Bootstrap. <small>Use <code>small</code> to identify the source.</small>
    </blockquote>
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
    <blockquote class='blockquote-reverse'>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
    <hr>
    <div class="row">
      <div class="col-xs-6">
        <ul>
          <li>Normal Unordered List</li>
          <li>Can Also Work
            <ul>
              <li>With Nested Children</li>
            </ul>
          </li>
          <li>Adds Bullets to Page</li>
        </ul>
      </div>
      <div class="col-xs-6">
        <ol>
          <li>Normal Ordered List</li>
          <li>Can Also Work
            <ol>
              <li>With Nested Children</li>
            </ol>
          </li>
          <li>Adds Bullets to Page</li>
        </ol>
      </div>
    </div>
    <hr>
    <pre>function preFormatting() {  // looks like this;  var something = somethingElse;  return true;}</pre>
    <hr>
    You can use the mark tag to <mark>highlight</mark> text.
    <hr>
    <dl>
      <dt>Description lists</dt>
      <dd>A description list is perfect for defining terms.</dd>
      <dt>Euismod</dt>
      <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
      <dd>Donec id elit non mi porta gravida at eget metus.</dd>
      <dt>Malesuada porta</dt>
      <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
    </dl>
    <hr/>
    <dl class="dl-horizontal">
      <dt>Description lists</dt>
      <dd>A description list is perfect for defining terms.</dd>
      <dt>Euismod</dt>
      <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
      <dd>Donec id elit non mi porta gravida at eget metus.</dd>
      <dt>Malesuada porta</dt>
      <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
      <dt>Felis euismod semper eget lacinia</dt>
      <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
    </dl>
    <hr>
    <code>&lt;section&gt;</code>
    <hr>
    To switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br>
    To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd>
    <hr>
    <var>y</var> = <var>m</var><var>x</var> + <var>b</var>
    <hr>
    <samp>This text is meant to be treated as sample output from a computer program.</samp>
  </div>
</div>
