- @title = "Pricing"
.container
  .row
    .col-sm-12.col-md-12
      %header
        .col-md-12.text-center
          %h3 Find the right plan
          %p We offer three flexible plans for all levels
      .row.pricing
        .col-md-4
          .tier.first-tier
            .tier-name Startup
            .tier-quantity
              %span.dollar $
              %span.price 19
              %span.period /month
            .specs
              .spec
                5 accounts
              .spec
                10 projects
              .spec
                Branding
            %a.btn.btn-outline-primary{:href => "#"}
              %span Start free trial
        .col-md-4
          .tier.recommended-tier
            .tier-name Business
            .tier-quantity
              %span.dollar $
              %span.price 29
              %span.period /month
            .specs
              .spec
                15 team members
              .spec
                30 projects
              .spec
                White labeling
              .spec
                Custom domain
              .spec
                Cats
            %a.btn.btn-outline-primary{:href => "#"}
              %span Start free trial
        .col-md-4
          .tier.last-tier
            .tier-name Enterprise
            .tier-quantity
              %span.dollar $
              %span.price 199
              %span.period /month
            .specs
              .spec
                Unlimited team members
              .spec
                Digital recurring billing
              .spec
                Virtual online terminal
              .spec
                25 total products
              .spec
                No Transaction fee
            %a.btn.btn-outline-primary{:href => "#"}
              %span Start free trial
      .row.text-center.mt40
        %p
          All plans have a 14 day trial with no credit card required. We also offer a
          = succeed "." do
            %a{:href => "#"} free plan
      .container
        .row.faq
          .col-md-12
            .row
              .col-md-12
                %h3 Frequently Asked Questions
            .row.questions
              .col-md-6
                .question
                  %strong Question?
                  %p
                    There's a time when the operation of the machine becomes so odious, makes you so sick at heart, that you can't take part! You can't even passively take part! And you've got to put your bodies upon the gears and upon the wheels…upon the levers, upon all the apparatus, and you've got to make it stop!
                .question
                  %strong Question?
                  %p
                    There's a time when the operation of the machine becomes so odious, makes you so sick at heart, that you can't take part! You can't even passively take part! And you've got to put your bodies upon the gears and upon the wheels…upon the levers, upon all the apparatus, and you've got to make it stop!
              .col-md-6
                .question
                  %strong Question?
                  %p
                    There's a time when the operation of the machine becomes so odious, makes you so sick at heart, that you can't take part! You can't even passively take part! And you've got to put your bodies upon the gears and upon the wheels…upon the levers, upon all the apparatus, and you've got to make it stop!
                .question
                  %strong Question?
                  %p
                    There's a time when the operation of the machine becomes so odious, makes you so sick at heart, that you can't take part! You can't even passively take part! And you've got to put your bodies upon the gears and upon the wheels…upon the levers, upon all the apparatus, and you've got to make it stop!
      .container
        .row.contact
          .col-md-12
            .text-center
              %h4
                Can't decide which plan is right? Call
                %strong 1-555-1232-9999
                any time.