<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt20">
      <div class="panel panel-default">
        <div class="panel-body">
         Your sidenav main content goes here:
         <%= __FILE__ %>
       </div>
     </div>
   </div>
 </div>
</div>