<% @title='Terms of Service' %>
<div class='row'>
  <div class='col-xs-12'>
    <p>
      By using the YOUR_APP web site and/or YOUR_APP iOS app ("Service"), a service of YOUR_COMPANY, Inc ("YOUR_COMPANY, Inc"), you are agreeing to be bound to the following terms and conditions ("Terms of Service").
      YOUR_COMPANY, Inc reserves the right to update and change the Terms of Service at its discretion without notice. Any new features in excess to the current Service shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes. You can review the most current version of the Terms of Service at any time at: <a href="http://YOUR_APP/content/terms_of_service">http://YOUR_APP/content/terms_of_service</a>. Violation of any of the terms below may result in immediate termination of your Service account.</p>
      <h2>Account Terms</h2>
      <ul>
        <li>Accounts registered by automated methods are not permitted and will be deleted immediately without notice.</li>
        <li>You must provide your legal full name, a valid email address, and any other pertinent information requested in order to complete the signup process.</li>
        <li>You are responsible for maintaining the security of your account and password. YOUR_COMPANY, Inc cannot and will not be liable for any loss of information or security breaches that result from your failure to comply with this security obligation.</li>
        <li>You are hereby considered fully responsible for all content posted and any and all activity that occurs under your account.</li>
        <li>You may not use the Service for any illegal activities. You must not, in your use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws).</li>
      </ul>
      <h2>Payment and Refunds Terms</h2>
      <ul>
        <li>A valid credit card is required for paying accounts. A credit card is not required upon initial sign up.
        The Service bills in advance on a monthly basis and is non-refundable. There will be no refunds or credits or upgrade/downgrade refunds. We will not make any exceptions, however extreme the circumstance.</li>
        <li>All fees exclude any taxes, levies, or duties imposed by taxing authorities, and you shall be responsible for   payment of all such taxes, levies, or duties.</li>
      </ul>
      <h2>Cancellation and Termination</h2>
      <ul>
        <li>It is your responsibility to ensure that your account has been properly cancelled. An email requesting an account to be cancelled is not considered a cancellation. You can cancel your account at any time from the "Settings" section within the Service.</li>
        <li>All of your Content will be immediately deleted from the Service should you initiate cancellation. This information can not be recovered once your account is cancelled.</li>
        <li>Your cancellation will be effective immediately once initiated. You will not be charged again from that point forward.</li>
        <li>YOUR_COMPANY, Inc has the right to suspend or terminate your account and refuse any and all current or future use of the Service for any reason at any time. YOUR_COMPANY, Inc, in it's sole discretion, reserves the right to refuse service to anyone for any reason at any time.</li>
      </ul>
      <h2>Modifications to the Service and Prices</h2>
        <ul>
          <li>YOUR_COMPANY, Inc reserves the right at any time, with or without notice, to modify or discontinue the Service, temporarily or permanently.</li>
          <li>YOUR_COMPANY, Inc reserves the right to change the prices of any and all Services upon 30 days notice.
        YOUR_COMPANY, Inc shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the Service.</li>
        </ul>
      <h2>Copyright and Content Ownership</h2>
      <ul>
        <li>The Service itself including the use of the YOUR_COMPANY, Inc name, logos, domain names and other distinctive brand features are protected by copyright and other laws: ©YOUR_COMPANY, Inc All rights reserved. </li>
        <li>You may not duplicate, copy, or reuse any portion of the code (HTML/CSS/Javascript) or visual design elements.</li>
        <li>You retain your rights to any content you submit, post or display on or through the Service. By submitting, posting or displaying content on or through the Service, you grant YOUR_COMPANY, Inc a worldwide, non-exclusive, royalty-free license to use, adapt, modify, publish, and display the content in any and all media or distribution methods (now known or later developed).</li>
      </ul>
      <h2>General Conditions</h2>
      <ul>
        <li>Your use of the Service is at your own risk. The service is provided on an "as is" and "as available" basis.
        <li>Technical support is available to account holders and is only available via our website.</li>
        <li>You acknowledge and understand that YOUR_COMPANY, Inc uses third party vendors to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.</li>
        <li>You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service or YOUR_COMPANY, Inc.</li>
        <li>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service.</li>
        <li>Verbal, physical, written or other abuse (including threats of abuse or retribution) of any YOUR_COMPANY, Inc employee, member, or officer will result in immediate account termination and potential criminal charges.</li>
        <li>YOUR_COMPANY, Inc does not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, or error-free, (iii) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations.</li>
        <li>You expressly understand and agree that YOUR_COMPANY, Inc shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if YOUR_COMPANY, Inc has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; (v) or any other matter relating to the service.</li>
        <li>The failure of YOUR_COMPANY, Inc to aggressively enforce any right or provision of the Terms of Service shall not be construed as a waiver of such right or provision. The Terms of Service outlines the entire agreement between you and YOUR_COMPANY, Inc and supersedes any prior agreements between you and YOUR_COMPANY, Inc including prior iterations of the Terms of Service.</li>
      </p>
  </div>
</div>