.user-profile
  %header{:style => "background-image: url(#{image_path('dresssed/header_1.jpg')})"}
    .avatar
      %img.img-rounded{:src => "http://fillmurray.com/200/200"}/
      %h1 John McDowall
.container-fluid
  .row
    .left-timeline.col-sm-6
      %form.timeline-update{:role => "form"}
        %textarea.form-control{:placeholder => "What are you working on?"}
        .row
          .col-xs-6.col-sm-6
            %a.btn.btn-sm.btn-default
              %i.fa.fa-camera
            %a.btn.btn-sm.btn-default
              %i.fa.fa-video-camera
            %a.btn.btn-sm.btn-default
              %i.fa.fa-map-marker
          .col-xs-6.col-sm-6.text-right
            %button.btn.btn-outline-primary{:type => "submit"} Post
      %ul
        %li
          %time
            %span 13
            %small Feb
          %header
            %img.img-rounded{:src => "http://fillmurray.com/32/32"}/
            %h4.m0.mt15.mb15 James uploaded a video.
          %p
            corporation BASE jump katana film silent numinous math- hotdog semiotics nano- nodal point neural tiger-team dome saturation point systema faded cyber- euro-pop apophenia cartel marketing plastic carbon papier-mache sunglasses camera cardboard voodoo god spook
          .embed-responsive.embed-responsive-16by9
            %iframe.embed-responsive-item{:src => "//www.youtube.com/embed/zpOULjyy-n8?rel=0"}
        %li
          %time
            %span 12
            %small Feb
          %header
            %img.img-rounded{:com => "", :src => "http://<www class=", :stevensegallery => ""}>/
            \/32/32"&gt;
            %h4.m0.mt15.mb15 James uploaded a video.
          %p
            Today I"m working on refactoring the video encoding processor to be slightly more efficient about handling cancellations.
        %li.join-to-previous
          %header
            %img.img-rounded{:src => "http://fillmurray.com/32/32"}/
            %h4.m0.mt15.mb15 James uploaded a video.
          %p
            Closes #215 - Monster update of nothing in particular.
        %li.period-marker
          %p Last Month
        %li
          %time
            %span 23
            %small Jan
          %p
            office gang pistol vehicle media -space monofilament DIY meta- bridge Tokyo math- woman hacker convenience store sunglasses tower weathered RAF receding nano- concrete table otaku chrome sub-orbital digital advert tiger-team range-rover refrigerator construct cyber- singularity nodality film network youtube knife fetishism systema motion neon systemic computer sensory cardboard savant spook nodal point disposable futurity towards augmented reality dolphin Chiba smart- sign carbon jeans bomb tube stimulate footage render-farm into realism fluidity face forwards decay dead military-grade
        %li
          %time
            %span 12
            %small Jan
          %p
            dolphin knife nodality savant convenience store paranoid denim tiger-team construct meta- kanji claymore mine RAF -ware DIY nano- soul-delay woman rebar physical cardboard geodesic urban man warehouse semiotics decay industrial grade sign tattoo Kowloon katana lights apophenia papier-mache hacker monofilament concrete sprawl drugs long-chain hydrocarbons tower marketing youtube film -space disposable render-farm shrine Shibuya assault wristwatch human weathered smart- crypto- j-pop tube numinous courier sunglasses Tokyo gang dissident systemic San Francisco nodal point sub-orbital singularity corrupted wonton soup Chiba
    .col-sm-6
      %ul.list-group.mt15
        %li.list-group-item
          Followers
          %span.badge 4
        %li.list-group-item
          Following
          %span.badge 14
      #panels.panel.panel-default.mt15
        .panel-heading
          User Bio
        %p.panel-body
          Currently working on new forms of time travel involving claw-foot bathtubs and large quantities of ice.
