
<div class='well container p50'>
  <div class="row">
    <div class='col-md-4 col-md-offset-4 text-center'>
      <div class="avatar-uploader">
        <div class="inner vertical-center">
          <img src='http://fillmurray.com/200/200' />
          <span class="icon-wrapper container p0">
            <i class='fa fa-cloud-upload fa-fw'></i>
          </span>
          <input type="file" name="avatar">
        </div>
      </div>
      <h3>John McDowall's Settings</h3>
      <hr>
    </div>
  </div>
  <ul class="user-settings">
    <li class='row'>
      <div class='col-xs-12 col-md-4 col-md-offset-4 col-md-offset-4'>
        <div class="setting-name">
          Your Username
        </div>
        <input class='col-xs-12 form-control' type='text' />
      </div>
    </li>
    <li class='row'>
      <div class='col-xs-12 col-md-4 col-md-offset-4 col-md-offset-4'>
        <div class="setting-name">
          Your Bio
        </div>
        <textarea class='col-xs-12 form-control'></textarea>
        <hr>
      </div>
    </li>
    <li class='row'>
      <div class='col-xs-10 col-sm-11 col-md-3 col-md-offset-4 pull-left'>
        <div class="setting-name">
          Weekly Digest
        </div>
        <div class="setting-details text-muted">
          A Weekly summary of the activity on your account.
        </div>
      </div>
      <div class='col-sm-1 col-md-1'>
        <div class="checkbox checkbox-primary pull-right">
          <input id="checkbox1" type="checkbox" checked="">
          <label for="checkbox1">
          </label>
        </div>
      </div>
    </li>
    <li class='row'>
      <div class='col-xs-10 col-sm-11 col-md-3 col-md-offset-4 pull-left'>
        <div class="setting-name">
          Private Messages
        </div>
        <div class="setting-details text-muted">
          Receive an Email when someone sends you a private message.
        </div>
      </div>
      <div class='col-sm-1 col-md-1'>
        <div class="checkbox checkbox-primary pull-right">
          <input id="checkbox2" type="checkbox" checked="">
          <label for="checkbox2">
          </label>
        </div>
      </div>
    </li>
    <li class='row'>
      <div class='col-xs-10 col-sm-11 col-md-3 col-md-offset-4 pull-left'>
        <div class="setting-name">
          Security Summary
        </div>
        <div class="setting-details text-muted">
          Receive an email digest of your login activity over the week.
        </div>
      </div>
      <div class='col-sm-1 col-md-1'>
        <div class="checkbox checkbox-primary pull-right">
          <input id="checkbox3" type="checkbox" checked="">
          <label for="checkbox3">
          </label>
        </div>
      </div>
    </li>
  </
  <div class='row'>
    <div class='col-md-4 col-md-offset-4'>
      <button type="button" class="btn btn-lg btn-primary pull-right">Save</button>
    </div>
  </div>
</div>
