<div class="container-fluid">
  <div class="row">
    <% FontAwesomeMetadata.all.each do |fa| %>

      <div class='col-12 col-md-3'>
        <div class='card'>
          <div class="card-body d-flex flex-column align-items-center justify-content-center">
            <span style='font-size: 48px;'><%= fa_icon_tag fa.id %></span>
            <p><%= fa.name %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
