<div class="container-fluid">
  <div class="row">
  <ul class="list-unstyled list-inline box-list">
  <% MdiMetadata.all.each do |fa| %>
    <li class='blue-400 text-blue-50'>
      <span style='font-size: 48px;'><%= mdi_icon_tag fa %></span>
      <p><%= fa %></p>
    </li>
  <% end %>
  </ul>
  </div>
</div>
