%h5.mb-4 PROFILE
%form
  .form-group
    %label Name
    %input.form-control{placeholder: "Enter email", type: "text", value: "Johnny Appleseed"}
    .form-group
      %label Email address
      %input.form-control{placeholder: "Enter email", type: "email", value: "johnny@appleseed.com"}
      .form-group
        %label Timezone
        %div
          %select#user_time_zone.custom-select.w-100
            %option{value: "Hawaii"} (GMT-10:00) Hawaii
            %option{value: "Alaska"} (GMT-09:00) Alaska
            %option{value: "Pacific Time (US & Canada)"} (GMT-08:00) Pacific Time (US  Canada)
            %option{value: "Arizona"} (GMT-07:00) Arizona
            %option{value: "Mountain Time (US & Canada)"} (GMT-07:00) Mountain Time (US  Canada)
            %option{selected: "selected", value: "Central Time (US & Canada)"} (GMT-06:00) Central Time (US  Canada)
            %option{value: "Eastern Time (US & Canada)"} (GMT-05:00) Eastern Time (US  Canada)
            %option{value: "Indiana (East)"} (GMT-05:00) Indiana (East)
            %option{disabled: "disabled", value: ""} -------------
            %option{value: "American Samoa"} (GMT-11:00) American Samoa
            %option{value: "International Date Line West"} (GMT-11:00) International Date Line West
            %option{value: "Midway Island"} (GMT-11:00) Midway Island
            %option{value: "Tijuana"} (GMT-08:00) Tijuana
            %option{value: "Chihuahua"} (GMT-07:00) Chihuahua
            %option{value: "Mazatlan"} (GMT-07:00) Mazatlan
            %option{value: "Central America"} (GMT-06:00) Central America
            %option{value: "Guadalajara"} (GMT-06:00) Guadalajara
            %option{value: "Mexico City"} (GMT-06:00) Mexico City
            %option{value: "Monterrey"} (GMT-06:00) Monterrey
      .form-group
        %label Street  Number
        %input.form-control{placeholder: "Street  Number", type: "text", value: "5th Avenue 3053"}
        .form-group
          %label City
          %input.form-control{placeholder: "City", type: "text", value: "San Francisco"}
          .form-group
            %label ZIP
            %input.form-control{placeholder: "ZIP", type: "text", value: "3352"}
            .form-group
              %label New password
              %input.form-control{type: "password"}
              .form-group
                %label Confirm new password
                %input.form-control{type: "password"}
                .form-group
                  %label Current password
                  %input.form-control{type: "password"}
                  .form-group.d-flex
                    %input.btn.btn-success.ml-auto{type: "submit", value: "Save changes"}
