<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Contextual Colors</h3>
      </div>
      <div class="card-body">
        <ul class="list-inline">
          <li class="text-muted">.text-muted</li>
          <li class="text-primary">.text-primary</li>
          <li class="text-warning">.text-warning</li>
          <li class="text-danger">.text-danger</li>
          <li class="text-success">.text-success</li>
          <li class="text-info">.text-info</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Contextual Backgrounds</h3>
      </div>
      <div class="card-body">
        <p class="bg-primary p-2">.bg-primary</p>
        <p class="bg-success p-2">.bg-success</p>
        <p class="bg-info p-2">.bg-info</p>
        <p class="bg-warning p-2">.bg-warning</p>
        <p class="bg-danger p-2">.bg-danger</p>
      </div>
    </div>
  </div>
</div>

