<div class="page-header">
  <div class="row row-same-height">
    <div class="col-md-12 col-sm-height col-middle">
      <h2 class='m0'>Listing contacts</h2>
    </div>
    <div class="col-md-2 col-sm-height col-middle">
      <a class="btn btn-primary btn-large pull-right" href="#">
        <i class="fa fa-plus"></i> Add Contact
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div id="content" class="col-md-9">
    <div class="sheet sheet-condensed">
      <div class="sheet-inner">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Notes</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Don Draper</td>
              <td>Advertising man.</td>
              <td class="actions">
                <a href="#" rel="tooltip" title="Show"><i class="fa fa-eye-open"></i></a>
                <a href="#" rel="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                <a confirm="Are you sure?" data-method="delete" href="#" rel="tooltip nofollow" title="Delete"><i class="fa fa-trash-o"></i></a>
              </td></tr>
              <tr>
                <td>Roger Sterling</td>
                <td></td>
                <td class="actions">
                  <a href="#" rel="tooltip" title="Show"><i class="fa fa-eye-open"></i></a>
                  <a href="#" rel="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                  <a confirm="Are you sure?" data-method="delete" href="#" rel="tooltip nofollow" title="Delete"><i class="fa fa-trash-o"></i></a>
                </td></tr>
                <tr>
                  <td>Peggy Olson</td>
                  <td></td>
                  <td class="actions">
                    <a href="#" rel="tooltip" title="Show"><i class="fa fa-eye-open"></i></a>
                    <a href="#" rel="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                    <a confirm="Are you sure?" data-method="delete" href="#" rel="tooltip nofollow" title="Delete"><i class="fa fa-trash-o"></i></a>
                  </td></tr>
                  <tr>
                    <td>Pete Campbell</td>
                    <td></td>
                    <td class="actions">
                      <a href="#" rel="tooltip" title="Show"><i class="fa fa-eye-open"></i></a>
                      <a href="#" rel="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                      <a confirm="Are you sure?" data-method="delete" href="#" rel="tooltip nofollow" title="Delete"><i class="fa fa-trash-o"></i></a>
                    </td></tr>
                    <tr>
                      <td>Joan Harris</td>
                      <td></td>
                      <td class="actions">
                        <a href="#" rel="tooltip" title="Show"><i class="fa fa-eye-open"></i></a>
                        <a href="#" rel="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                        <a confirm="Are you sure?" data-method="delete" href="#" rel="tooltip nofollow" title="Delete"><i class="fa fa-trash-o"></i></a>
                      </td></tr>
                      <tr>
                        <td>Lane Pryce</td>
                        <td></td>
                        <td class="actions">
                          <a href="#" rel="tooltip" title="Show"><i class="fa fa-eye-open"></i></a>
                          <a href="#" rel="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                          <a confirm="Are you sure?" data-method="delete" href="#" rel="tooltip nofollow" title="Delete"><i class="fa fa-trash-o"></i></a>
                        </td></tr>
                      </tbody>
                    </table>
                  </div>
                </div><!-- /.sheet -->

                <div >
                  <ul class="pagination">
                    <li class="prev disabled">
                      <a href="#" rel="prev">‹ Prev</a>
                    </li>

                    <li class="page active">
                      <a href="#">1</a>
                    </li>

                    <li class="page">
                      <a href="#" rel="next">2</a>
                    </li>

                    <li class="next_page ">
                      <a href="#" rel="next">Next ›</a>
                    </li>

                  </ul>
                </div>


              </div> <!-- /#content -->

              <div id="sidebar" class="col-md-3">
                <h6>Menu</h6>
                <p></p>

                <ul class="nav nav-tabs nav-stacked nav-caret-left">
                  <li><a href="#">Menu Item 1</a></li>
                  <li class="active"><a href="#">Menu Item 2</a></li>
                  <li><a href="#">Menu Item 3</a></li>
                  <li><a href="#">Menu Item 4</a></li>
                </ul>
              </div> <!-- /#sidebar -->
            </div>