<div class="container">
  <div class="row no-gutter bg-dark p-5">
    <div class="col-12">
      <div class="d-flex flex-row flex-wrap align-items-center justify-content-center">
        <ul class="list-inline m-0">
          <li class="list-inline-item mr-3"><a href="javascript:" class="text-hover-light">Home</a></li>
          <li class="list-inline-item mr-3"><a href="javascript:" class="text-hover-light">About</a></li>
        </ul>
        <div class="px-5">
          <img src="<%= image_path('dresssed/pyrrmid_64.png') %>" class="mb-3" width="64" height="64" >
        </div>
        <ul class="list-inline m-0">
          <li class="list-inline-item ml-3"><a href="javascript:" class="text-hover-light">Projects</a></li>
          <li class="list-inline-item ml-3"><a href="javascript:" class="text-hover-light">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
