@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

// Dresssed Theme config file
// ==========================
@import "dresssed/colors";
@import "dresssed/styles/defaults";

// STYLE
// -----
// Pick one style. Just one. Comment or remove the other ones.
// @import "dresssed/styles/blue";
@import "dresssed/styles/black";
// @import "dresssed/styles/amber";
// @import "dresssed/styles/white";

// RULES
// -----
// You can optionally remove some imports to end up with a tidier file. But keep in mind some
// rules in a file might depend on rules in another one.

// Reset and dependencies
@import "twitter/bootstrap/normalize";
@import "twitter/bootstrap/print";
@import "twitter/bootstrap/glyphicons";

// Core CSS
@import "twitter/bootstrap/scaffolding";
@import "twitter/bootstrap/type";
@import "twitter/bootstrap/code";
@import "twitter/bootstrap/grid";
@import "twitter/bootstrap/tables";
@import "twitter/bootstrap/forms";
@import "twitter/bootstrap/buttons";

// Components
@import "twitter/bootstrap/component-animations";
@import "twitter/bootstrap/dropdowns";
@import "twitter/bootstrap/button-groups";
@import "twitter/bootstrap/input-groups";
@import "twitter/bootstrap/navs";
@import "twitter/bootstrap/navbar";
@import "twitter/bootstrap/breadcrumbs";
@import "twitter/bootstrap/pagination";
@import "twitter/bootstrap/pager";
@import "twitter/bootstrap/labels";
@import "twitter/bootstrap/badges";
@import "twitter/bootstrap/jumbotron";
@import "twitter/bootstrap/thumbnails";
@import "twitter/bootstrap/alerts";
@import "twitter/bootstrap/progress-bars";
@import "twitter/bootstrap/media";
@import "twitter/bootstrap/list-group";
@import "twitter/bootstrap/panels";
@import "twitter/bootstrap/responsive-embed";
@import "twitter/bootstrap/wells";
@import "twitter/bootstrap/close";

// Components w/ JavaScript
@import "twitter/bootstrap/modals";
@import "twitter/bootstrap/tooltip";
@import "twitter/bootstrap/popovers";
@import "twitter/bootstrap/carousel";

// Utility classes
@import "twitter/bootstrap/utilities";
@import "twitter/bootstrap/responsive-utilities";

// Import Dresssed rules.
@import "dresssed/mixins";

// Page structure
@import "dresssed/layouts";
@import "dresssed/header";
@import "dresssed/featured";
@import "dresssed/banner";
@import "dresssed/pricing";
@import "dresssed/footer";

// Base CSS
@import "dresssed/type";
@import "dresssed/tables";
@import "dresssed/code";
@import "dresssed/forms";
@import "dresssed/addons";

// Buttons
@import "dresssed/buttons";
@import "dresssed/button-groups";

// Navs
@import "dresssed/navs";
@import "dresssed/navs/tabs";
@import "dresssed/navs/pills";
@import "dresssed/navs/stacked-tabs";
@import "dresssed/navs/stacked-pills";
@import "dresssed/navs/tabbable";
@import "dresssed/breadcrumbs";
@import "dresssed/list-groups";

// Misc navs
@import "dresssed/navbar";
@import "dresssed/sidenav";
@import "dresssed/pagination";
@import "dresssed/pager";

// Misc components
@import "dresssed/tooltip";
@import "dresssed/alerts";
@import "dresssed/dropdowns";
@import "dresssed/checkboxes";
@import "dresssed/wells";
@import "dresssed/sheets";
@import "dresssed/labels";
@import "dresssed/thumbnails";
@import "dresssed/jumbotron";
@import "dresssed/panels";
@import "dresssed/progress-bars";
@import "dresssed/modals";
@import "dresssed/sprites";
@import "dresssed/extensions";
@import "dresssed/switch";
@import "dresssed/devices";
@import "dresssed/devise";
@import "dresssed/simple_animations";
@import "dresssed/font-awesome-icons";
@import "dresssed/rickshaw";
@import "dresssed/morris";
@import "dresssed/metrics";
@import "dresssed/loaders";

// App Pages
@import "dresssed/app_pages/user-settings";
@import "dresssed/app_pages/timeline";
@import "dresssed/app_pages/user-profile";
@import "dresssed/landing_pages";
@import "dresssed/blog";

// Font Awesome
@import "font_awesome/font-awesome";

// Ionicons
@import "ionicons/ionicons";

// Material Design Icons
@import "mdiicons/icons-material-design";

// CUSTOM RULES
// ------------
// Optionally override any rule here. Or do so in another file.
// ...

// Uncomment to change the logo in the left corner of the top navbar.
/* .navbar .brand {
  background-image: asset-url('logo.png');
  width: 105px;
  height: 24px;
}
*/
