<div class='row'>
  <div class='col-sm-12'>
    <div class="panel panel-default" id="buttons">
      <div class="panel-heading">Buttons
      </div>
      <div class="panel-body">
        <p>
          <button type="button" class="btn btn-lg btn-default">Default</button>
          <button type="button" class="btn btn-lg btn-primary">Primary</button>
          <button type="button" class="btn btn-lg btn-success">Success</button>
          <button type="button" class="btn btn-lg btn-info">Info</button>
          <button type="button" class="btn btn-lg btn-warning">Warning</button>
          <button type="button" class="btn btn-lg btn-danger">Danger</button>
          <button type="button" class="btn btn-lg btn-inverse">Inverse</button>
          <button type="button" class="btn btn-lg btn-link">Link</button>
        </p>
        <p>
          <button type="button" class="btn btn-default">Default</button>
          <button type="button" class="btn btn-primary">Primary</button>
          <button type="button" class="btn btn-success">Success</button>
          <button type="button" class="btn btn-info">Info</button>
          <button type="button" class="btn btn-warning">Warning</button>
          <button type="button" class="btn btn-danger">Danger</button>
          <button type="button" class="btn btn-inverse">Inverse</button>
          <button type="button" class="btn btn-link">Link</button>
        </p>
        <p>
          <button type="button" class="btn btn-sm btn-default">Default</button>
          <button type="button" class="btn btn-sm btn-primary">Primary</button>
          <button type="button" class="btn btn-sm btn-success">Success</button>
          <button type="button" class="btn btn-sm btn-info">Info</button>
          <button type="button" class="btn btn-sm btn-warning">Warning</button>
          <button type="button" class="btn btn-sm btn-danger">Danger</button>
          <button type="button" class="btn btn-sm btn-inverse">Inverse</button>
          <button type="button" class="btn btn-sm btn-link">Link</button>
        </p>
        <p>
          <button type="button" class="btn btn-xs btn-default">Default</button>
          <button type="button" class="btn btn-xs btn-primary">Primary</button>
          <button type="button" class="btn btn-xs btn-success">Success</button>
          <button type="button" class="btn btn-xs btn-info">Info</button>
          <button type="button" class="btn btn-xs btn-warning">Warning</button>
          <button type="button" class="btn btn-xs btn-danger">Danger</button>
          <button type="button" class="btn btn-xs btn-inverse">Inverse</button>
          <button type="button" class="btn btn-xs btn-link">Link</button>
        </p>
        <p>
          <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-star"></span> Glyphicons!</button>
          <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
          <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
          <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-info-sign"></span></button>
          <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-flash"></span></button>
          <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-ban-circle"></span></button>
          <button type="button" class="btn btn-inverse"><span class="glyphicon glyphicon-ban-circle"></span></button>
          <button type="button" class="btn btn-link"><span class="glyphicon glyphicon-arrow-right"></span></button>
        </p>
        <p>
          <button type="button" class="btn btn-outline-default">Default</button>
          <button type="button" class="btn btn-outline-primary">Primary</button>
          <button type="button" class="btn btn-outline-success">Success</button>
          <button type="button" class="btn btn-outline-info">Info</button>
          <button type="button" class="btn btn-outline-warning">Warning</button>
          <button type="button" class="btn btn-outline-danger">Danger</button>
          <button type="button" class="btn btn-outline-inverse">Inverse</button>
          <button type="button" class="btn btn-outline-link">Link</button>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Circular Buttons</h3>
    </div>
    <div class="panel-body">
      <p>
        <button type="button" class="btn btn-circle btn-lg btn-default">Default</button>
        <button type="button" class="btn btn-circle btn-lg btn-primary">Primary</button>
        <button type="button" class="btn btn-circle btn-lg btn-success">Success</button>
        <button type="button" class="btn btn-circle btn-lg btn-info">Info</button>
        <button type="button" class="btn btn-circle btn-lg btn-warning">Warning</button>
        <button type="button" class="btn btn-circle btn-lg btn-danger">Danger</button>
        <button type="button" class="btn btn-circle btn-lg btn-inverse">Inverse</button>
        <button type="button" class="btn btn-circle btn-lg btn-link">Link</button>
      </p>
      <p>
        <button type="button" class="btn btn-circle btn-default">Default</button>
        <button type="button" class="btn btn-circle btn-primary">Primary</button>
        <button type="button" class="btn btn-circle btn-success">Success</button>
        <button type="button" class="btn btn-circle btn-info">Info</button>
        <button type="button" class="btn btn-circle btn-warning">Warning</button>
        <button type="button" class="btn btn-circle btn-danger">Danger</button>
        <button type="button" class="btn btn-circle btn-inverse">Inverse</button>
        <button type="button" class="btn btn-circle btn-link">Link</button>
      </p>
      <p>
        <button type="button" class="btn btn-circle btn-sm btn-default">Default</button>
        <button type="button" class="btn btn-circle btn-sm btn-primary">Primary</button>
        <button type="button" class="btn btn-circle btn-sm btn-success">Success</button>
        <button type="button" class="btn btn-circle btn-sm btn-info">Info</button>
        <button type="button" class="btn btn-circle btn-sm btn-warning">Warning</button>
        <button type="button" class="btn btn-circle btn-sm btn-danger">Danger</button>
        <button type="button" class="btn btn-circle btn-sm btn-inverse">Inverse</button>
        <button type="button" class="btn btn-circle btn-sm btn-link">Link</button>
      </p>
      <p>
        <button type="button" class="btn btn-circle btn-xs btn-default">Default</button>
        <button type="button" class="btn btn-circle btn-xs btn-primary">Primary</button>
        <button type="button" class="btn btn-circle btn-xs btn-success">Success</button>
        <button type="button" class="btn btn-circle btn-xs btn-info">Info</button>
        <button type="button" class="btn btn-circle btn-xs btn-warning">Warning</button>
        <button type="button" class="btn btn-circle btn-xs btn-danger">Danger</button>
        <button type="button" class="btn btn-circle btn-xs btn-inverse">Inverse</button>
        <button type="button" class="btn btn-circle btn-xs btn-link">Link</button>
      </p>
      <p>
        <button type="button" class="btn btn-circle btn-default"><span class="fa fa-star"></span> Glyphicons!</button>
        <button type="button" class="btn btn-icon btn-circle btn-primary"><span class="fa fa-edit"></span></button>
        <button type="button" class="btn btn-circle btn-success"><span class="glyphicon glyphicon-plus"></span></button>
        <button type="button" class="btn btn-circle btn-info"><span class="glyphicon glyphicon-info-sign"></span></button>
        <button type="button" class="btn btn-circle btn-warning"><span class="glyphicon glyphicon-flash"></span></button>
        <button type="button" class="btn btn-circle btn-danger"><span class="glyphicon glyphicon-ban-circle"></span></button>
        <button type="button" class="btn btn-circle btn-inverse"><span class="glyphicon glyphicon-ban-circle"></span></button>
        <button type="button" class="btn btn-circle btn-link"><span class="glyphicon glyphicon-arrow-right"></span></button>
      </p>
      <p>
        <button type="button" class="btn btn-circle btn-outline-default">Default</button>
        <button type="button" class="btn btn-circle btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-circle btn-outline-success">Success</button>
        <button type="button" class="btn btn-circle btn-outline-info">Info</button>
        <button type="button" class="btn btn-circle btn-outline-warning">Warning</button>
        <button type="button" class="btn btn-circle btn-outline-danger">Danger</button>
        <button type="button" class="btn btn-circle btn-outline-inverse">Inverse</button>
        <button type="button" class="btn btn-circle btn-outline-link">Link</button>
      </p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Flat Buttons</h3>
    </div>
    <div class="panel-body">
      <p>
        <button type="button" class="btn btn-flat btn-lg btn-default">Default</button>
        <button type="button" class="btn btn-flat btn-lg btn-primary">Primary</button>
        <button type="button" class="btn btn-flat btn-lg btn-success">Success</button>
        <button type="button" class="btn btn-flat btn-lg btn-info">Info</button>
        <button type="button" class="btn btn-flat btn-lg btn-warning">Warning</button>
        <button type="button" class="btn btn-flat btn-lg btn-danger">Danger</button>
        <button type="button" class="btn btn-flat btn-lg btn-inverse">Inverse</button>
        <button type="button" class="btn btn-flat btn-lg btn-link">Link</button>
      </p>
      <p>
        <button type="button" class="btn btn-flat btn-default">Default</button>
        <button type="button" class="btn btn-flat btn-primary">Primary</button>
        <button type="button" class="btn btn-flat btn-success">Success</button>
        <button type="button" class="btn btn-flat btn-info">Info</button>
        <button type="button" class="btn btn-flat btn-warning">Warning</button>
        <button type="button" class="btn btn-flat btn-danger">Danger</button>
        <button type="button" class="btn btn-flat btn-inverse">Inverse</button>
        <button type="button" class="btn btn-flat btn-link">Link</button>
      </p>
      <p>
        <button type="button" class="btn btn-flat btn-sm btn-default">Default</button>
        <button type="button" class="btn btn-flat btn-sm btn-primary">Primary</button>
        <button type="button" class="btn btn-flat btn-sm btn-success">Success</button>
        <button type="button" class="btn btn-flat btn-sm btn-info">Info</button>
        <button type="button" class="btn btn-flat btn-sm btn-warning">Warning</button>
        <button type="button" class="btn btn-flat btn-sm btn-danger">Danger</button>
        <button type="button" class="btn btn-flat btn-sm btn-inverse">Inverse</button>
        <button type="button" class="btn btn-flat btn-sm btn-link">Link</button>
      </p>
      <p>
        <button type="button" class="btn btn-flat btn-xs btn-default">Default</button>
        <button type="button" class="btn btn-flat btn-xs btn-primary">Primary</button>
        <button type="button" class="btn btn-flat btn-xs btn-success">Success</button>
        <button type="button" class="btn btn-flat btn-xs btn-info">Info</button>
        <button type="button" class="btn btn-flat btn-xs btn-warning">Warning</button>
        <button type="button" class="btn btn-flat btn-xs btn-danger">Danger</button>
        <button type="button" class="btn btn-flat btn-xs btn-inverse">Inverse</button>
        <button type="button" class="btn btn-flat btn-xs btn-link">Link</button>
      </p>
      <p>
        <button type="button" class="btn btn-flat btn-default"><span class="glyphicon glyphicon-star"></span> Glyphicons!</button>
        <button type="button" class="btn btn-flat btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
        <button type="button" class="btn btn-flat btn-success"><span class="glyphicon glyphicon-plus"></span></button>
        <button type="button" class="btn btn-flat btn-info"><span class="glyphicon glyphicon-info-sign"></span></button>
        <button type="button" class="btn btn-flat btn-warning"><span class="glyphicon glyphicon-flash"></span></button>
        <button type="button" class="btn btn-flat btn-danger"><span class="glyphicon glyphicon-ban-circle"></span></button>
        <button type="button" class="btn btn-flat btn-inverse"><span class="glyphicon glyphicon-ban-circle"></span></button>
        <button type="button" class="btn btn-flat btn-link"><span class="glyphicon glyphicon-arrow-right"></span></button>
      </p>
      <p>
        <button type="button" class="btn btn-flat btn-outline-default">Default</button>
        <button type="button" class="btn btn-flat btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-flat btn-outline-success">Success</button>
        <button type="button" class="btn btn-flat btn-outline-info">Info</button>
        <button type="button" class="btn btn-flat btn-outline-warning">Warning</button>
        <button type="button" class="btn btn-flat btn-outline-danger">Danger</button>
        <button type="button" class="btn btn-flat btn-outline-inverse">Inverse</button>
        <button type="button" class="btn btn-flat btn-outline-link">Link</button>
      </p>
    </div>
