<div class="container-fluid overflow-visible">
  <div class="row">
    <div class="col-sm-12">
      <div class="card overflow-visible" id="dropdowns">
        <div class="card-header">
          <h6>Dropdowns</h6>
        </div>
        <div class="card-body inspectable position-relative">
          <div class="row">
            <div class="col-lg-3">
              <div class="dropdown">
                <a class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#" id="drop3">Dropdown Trigger <span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="drop3">
                  <li class="dropdown-item"><a tabindex="-1" href="#">Action</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="#">Link</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="#">Link</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-item"><a tabindex="-1" href="#">Link</a></li>
                </ul>
              </div>
            </div>
            <!-- dropdown col one //-->
            <div class="col-lg-3">
              <div class="dropdown">
                <a class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#" id="drop4">
                  With Headers <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop4">
                  <li class="dropdown-header">Dropdown Header</li>
                  <li class="dropdown-item"><a tabindex="-1" href="#" >Action</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="#" >Link</a></li>
                  <li class="dropdown-header">Dropdown Header</li>
                  <li class="dropdown-item"><a tabindex="-1" href="#" >Link</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-item"><a tabindex="-1" href="#" >Link</a></li>
                </ul>
              </div>
            </div>
            <!-- dropdown col two //-->
            <div class="col-lg-3">
              <div class="btn-group">
                <button type="button" class="btn btn-primary">Action</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-item"><a tabindex="-1" href="#">Action</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="#">Link</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="#">Link</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-item"><a tabindex="-1" href="#">Link</a></li>
                </ul>
              </div>
            </div>
            <!-- dropdown col 3 //-->
            <div class="col-lg-3">
              <div class="dropdown pull-right">
                <a class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#" id="drop5">
                  Right Aligned <b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="drop5">
                  <li class="dropdown-header">Dropdown Header</li>
                  <li class="dropdown-item"><a tabindex="-1" href="#">Action</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="#">Link</a></li>
                  <li class="dropdown-header">Dropdown Header</li>
                  <li class="dropdown-item"><a tabindex="-1" href="#">Link</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-item"><a tabindex="-1" href="#">Link</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
