<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3>Popovers</h3>
          <div class="card-body">
            <button type="button" class="btn btn-default"  data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="" id="popoverOne">
              Popover on left
            </button>
            <button type="button" class="btn btn-default"  data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="" id="popoverTwo">
              Popover on top
            </button>
            <button type="button" class="btn btn-default"  data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="" id="popoverThree">
              Popover on bottom
            </button>
            <button type="button" class="btn btn-default"  data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="" id="popoverFour">
              Popover on right
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
