<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Tooltips</h3>
        </div>
        <div class="card-body container-fluid">
          <div class="row">
            <div class="col-3">
              <a data-toggle="tooltip" title="top tooltip"
                id="tooltip-top">Top Tooltip</a>
            </div>
            <div class="col-3">
              <a data-toggle="tooltip" title="left tooltip" data-placement="left"
                id="tooltip-left">Left Tooltip</a>
            </div>
            <div class="col-3">
              <a data-toggle="tooltip" title="bottom tooltip" data-placement="bottom"
                id="tooltip-bottom">Bottom Tooltip</a>
            </div>
            <div class="col-3">
              <a data-toggle="tooltip" title="right tooltip" data-placement="right"
                id="tooltip-right">Right Tooltip</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
