- @title = "Showing <%= singular_table_name %>"

.container
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .form-horizontal
      <% attributes.each do |attribute| -%>
  .form-group
          %label.col-sm-2.form-label <%= attribute.human_name %>
          .uneditable-input.col-md-8.form-control
            %span= @<%= singular_table_name %>.<%= attribute.name %>

      <% end -%>
  .form-actions.col-md-offset-2
          = link_to fa_icon_tag("pencil") + ' Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), <%= Dresssed.key_value :class, "'btn btn-primary'" %>
          = link_to 'Back', <%= index_helper %>_path, <%= Dresssed.key_value :class, "'btn'" %>
