.navbar-header {
  flex: 1;
}

.theme-list {
  flex: 1;
  margin: 0;
  display: flex;
  transition: all 800ms;

  > li {
    font-size: 12px;
    text-transform: uppercase;
    transition: all 300ms;
    transform: translateY(25%);

    > .style-list {
      li {
        transition: all 300ms;
        width: 0;
      }
    }

    &:first-of-type {
      &.active {
        margin: 0 2rem 0 0;
      }
    }

    > a {
      font-weight: 500;
      color: rgb(173, 173, 173);

      &:hover {
        color: #323232;
        text-decoration: none;
      }
    }

    &:hover {
      transform: translateY(0);

      > a {
        color: #323232;
        text-decoration: none;
        font-weight: bold;
      }

      > .style-list {
        display: flex;
        opacity: 1;
        transition: all 800ms;

        li {
          transition: all 300ms ease-in;
          transform: translateY(0);
          width: auto;
          height: auto;
          margin-right: 1rem;
          opacity: 1;
        }
      }
    }

    &.active {
      margin: 0 2rem;
      transform: translateY(0);

      > a {
        font-weight: bold;
        color: #323232;
      }

      > .style-list {
        display: flex;
        opacity: 1;
        transition: all 800ms;

        li {
          transition: all 800ms;
          opacity: 1;
          width: auto;
          margin-right: 1rem;
          transform: translateY(0);
        }
      }
    }
  }
}

.style-list {
  opacity: 0;
  transition: all 400ms;

  li {
    font-size: 10px;
    transform: translateY(-10px);
    opacity: 0;
    transition: all 400ms;

    a {
      color: #323232;
    }
  }
}

.vp-animate {
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  -ms-transition: width 0.2s ease-out;
  -o-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}

#sg-gen-container {
  height: 100%;
  width: 100%;
  position: fixed;
  text-align: center;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
}

iframe {
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0px auto;
  padding: 0;
}

.swatch {
  height: 55px;
  line-height: 55px;
  clear: both;

  p {
    color: blue;
  }
}
