.container
  .row
    .col-12.d-flex.flex-wrap.align-items-center.justify-content-between
      %a.btn.btn-primary.btn-lg.text-uppercase.d-table{href: "javascript:"} Get Started
      .cta-body.text-right
        %h5.m-0 Try it for free
        %p.lead.m-0
          Already using MyApp?
          %a{href: "#"} Sign in.
