.container
  .row
    .col-12.d-flex.flex-column.flex-wrap.align-items-center.justify-content-center.p-5
      .border.border-info.border-2x.btn-lg.text-uppercase
        %h4.m-0
          Made with #{theme_icon_tag "heart"} in Victoria, BC
      %h6.text-center.pt-5 Ipsum soluta labore! Assumenda!
      .btn.btn-success Sign up Now
