.container
  .row
    .col-12.col-md-8.mr-md-auto.ml-md-auto.text-center
      %img.mt-3.mb-3{height: "200", src: "#{image_path('kiso_themes/pyrrmid_200.png')}", width: "200"}/
      %h3 Introducing a new way to excel
      %p.lead Caustic soda polygon window ultiamte inversion.
  .row.mt-5
    .col-12.col-md-10.ml-md-auto.mr-md-auto
      .container
        .row
          .col-12.col-md-6
            .media.mb-4
              %i.d-flex.mr-3.ti-eye.h2
              .media-body
                %h5.mt-0 Feature 1
                %p.small Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          .col-12.col-md-6
            .media.mb-4
              %i.d-flex.mr-3.ti-eye.h2
              .media-body
                %h5.mt-0 Feature 2
                %p.small Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          .col-12.col-md-6
            .media.mb-4
              %i.d-flex.mr-3.ti-eye.h2
              .media-body
                %h5.mt-0 Feature 3
                %p.small Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          .col-12.col-md-6
            .media.mb-4
              %i.d-flex.mr-3.ti-eye.h2
              .media-body
                %h5.mt-0 Feature 4
                %p.small Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
