.container
  .row.no-gutter.bg-dark
    .col-12
      .d-flex.align-items-center.justify-content-between.flex-wrap.p-5
        %h2.text-white.m-0 This is the best Rails theme in the world.
        %a.btn.btn-success{href: "javascript:"} Buy Now
