.container
  .row.no-gutter.bg-dark.p-5
    .col-12
      .d-flex.flex-column.flex-wrap.align-items-center.justify-content-center
        %img.mb-3{height: "64", src: "#{image_path('rrt/pyrrmid_64.png')}", width: "64"}/
        %h6.text-white PYRMID
