%body
  .container.py-5
    .row
      .col-12
        %h2.pt-5.text-center.header-separator A plan to fit every need.
        %p.lead.text-center.pb-5 Select the plan that's right for you below, and you can be up and running in minutes.
    .row
      .col-12.col-md-4
        .pricing-table-2
          %header.bg-dark
            %h1.text-white.m-0
              $0
            %p.text-muted.text-uppercase.mb-0 Free, forever.
          %h5.bg-gray-900.text-center.p-3.text-white.m-0 Trial
          %ul.tiere-feature-list
            %li 20 Users
            %li 3 Archives
            %li 5 Client Projects
            %li  
            %li  
          .bg-dark.d-flex.align-items-center.justify-content-center.p-3
            %a.btn.btn-info.p-4{href: "#"} Buy Now
      .col-12.col-md-4
        .pricing-table-2
          %header.bg-dark
            %h1.text-white.m-0
              $5
            %p.text-muted.text-uppercase.mb-0 Per Month
          %h5.bg-gray-900.text-center.p-3.text-white.m-0 Bronze
          %ul.tiere-feature-list
            %li 20 Users
            %li 3 Archives
            %li 5 Client Projects
            %li 20 Cat Gifs
            %li  
          .bg-dark.d-flex.align-items-center.justify-content-center.p-3
            %a.btn.btn-info.p-4{href: "#"} Buy Now
      .col-12.col-md-4
        .pricing-table-2
          %header.bg-dark
            %h1.text-white.m-0
              $10
            %p.text-muted.text-uppercase.mb-0 Per Month
          %h5.bg-gray-900.text-center.p-3.text-white.m-0 Gold
          %ul.tiere-feature-list
            %li 20 Users
            %li 3 Archives
            %li 5 Client Projects
            %li 20 Cat gifs
            %li Unlimited Toots
          .bg-dark.d-flex.align-items-center.justify-content-center.p-3
            %a.btn.btn-info.p-4{href: "#"} Buy Now
