%body
  .container.py-5
    .row
      .col-12
        %h2.pt-5.text-center.header-separator A plan to fit every need.
        %p.lead.text-center.pb-5 Select the plan that's right for you below, and you can be up and running in minutes.
    .row.equal-cols
      .col-12.col-md-4
        .pricing-table-3.shadow
          %header
            %h5.font-weight-bold.text-center.text-uppercase.m-0 Trial
            %p.text-muted.text-uppercase.mb-5 Lorem ipsum dolor sit amet.
            %h1.font-weight-normal.m-0.mb-4
              %sup $
              %strong 0
              %small /mo
              %a.btn.btn-lg.btn-info.p-4{href: "#"} Start your Trial
          %ul.tiere-feature-list
            %li 20 Users
            %li 3 Archives
            %li 5 Client Projects
      .col-12.col-md-4
        .pricing-table-3.shadow
          %header
            %h5.font-weight-bold.text-center.text-uppercase.m-0 Bronze
            %p.text-muted.text-uppercase.mb-5 Lorem ipsum dolor sit amet.
            %h1.font-weight-normal.m-0.mb-4
              %sup $
              %strong 10
              %small /mo
              %a.btn.btn-lg.btn-info.p-4{href: "#"} Start your Trial
          %ul.tiere-feature-list
            %li 20 Users
            %li 3 Archives
            %li 5 Client Projects
            %li 5 Client Projects
            %li 5 Client Projects
      .col-12.col-md-4
        .pricing-table-3.shadow
          %header
            %h5.font-weight-bold.text-center.text-uppercase.m-0 Gold
            %p.text-muted.text-uppercase.mb-5 Lorem ipsum dolor sit amet.
            %h1.font-weight-normal.m-0.mb-4
              %sup $
              %strong 90
              %small /mo
              %a.btn.btn-lg.btn-info.p-4{href: "#"} Start your Trial
          %ul.tiere-feature-list
            %li 20 Users
            %li 3 Archives
            %li 5 Client Projects
            %li 5 Client Projects
            %li 5 Client Projects
            %li 5 Client Projects
