.container.content-block-9.d-flex.flex-column
  .row.equal-cols.align-items-center
    .col-12.col-md-3
      %img{src: "#{image_path('kiso_themes/stock/acme_1.png')}"}/
    .col-12.col-md-3
      %img{src: "#{image_path('kiso_themes/stock/acme_2.png')}"}/
    .col-12.col-md-3
      %img{src: "#{image_path('kiso_themes/stock/acme_3.png')}"}/
    .col-12.col-md-3
      %img{src: "#{image_path('kiso_themes/stock/acme_4.png')}"}/
