<div class='container'>
  <div class='row'>

      <div id="first-option">
        <header>
          <div class="col-md-12 text-center">
            <h3>Find the right plan</h3>
            <p>We offer three flexible plans for all levels</p>
          </div>
        </header>
        <div class="row pricing">
          <div class="col-xs-12 col-md-4">
            <div class="tier first-tier">
              <div class="tier-name">Startup</div>
              <div class="tier-quantity">
                <span class="dollar">$</span>
                <span class="price">19</span>
                <span class="period">/month</span>
              </div>
              <div class="specs">
                <div class="spec">
                  5 accounts
                </div>
                <div class="spec">
                  10 projects
                </div>
                <div class="spec">
                  Branding
                </div>
              </div>
              <a class="btn btn-outline-primary" href="#">
                <span>Start free trial</span>
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="tier recommended-tier">
              <div class="tier-name">Business</div>
              <div class="tier-quantity">
                <span class="dollar">$</span>
                <span class="price">29</span>
                <span class="period">/month</span>
              </div>
              <div class="specs">
                <div class="spec">
                  15 team members
                </div>
                <div class="spec">
                  30 projects
                </div>
                <div class="spec">
                  White labeling
                </div>
                <div class="spec">
                  Custom domain
                </div>
                <div class="spec">
                  Cats
                </div>
              </div>
              <a class="btn btn-outline-primary" href="#">
                <span>Start free trial</span>
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="tier last-tier">
              <div class="tier-name">Enterprise</div>
              <div class="tier-quantity">
                <span class="dollar">$</span>
                <span class="price">199</span>
                <span class="period">/month</span>
              </div>
              <div class="specs">
                <div class="spec">
                  Unlimited team members
                </div>
                <div class="spec">
                  Digital recurring billing
                </div>
                <div class="spec">
                  Virtual online terminal
                </div>
                <div class="spec">
                  25 total products
                </div>
                <div class="spec">
                  No Transaction fee
                </div>
              </div>
              <a class="btn btn-outline-primary" href="#">
                <span>Start free trial</span>
              </a>
            </div>
          </div>
        </div>
        <div class="row text-center mt40">
          <p class="col-sm-12">
            All plans have a 14 day trial with no credit card required. We also offer a <a href="#">free plan</a>.
          </p>
        </div>
        <div class='container'>
          <div class="row faq">
            <div class="col-md-12">
              <div class="row header">
                <div class="col-md-12">
                  <h3>Frequently Asked Questions</h3>
                </div>
              </div>
              <div class="row questions">
                <div class="col-md-6">
                  <div class="question">
                    <strong>Question?</strong>
                    <p>
                      There's a time when the operation of the machine becomes so odious, makes you so sick at heart, that you can't take part! You can't even passively take part! And you've got to put your bodies upon the gears and upon the wheels…upon the levers, upon all the apparatus, and you've got to make it stop!
                    </p>
                  </div>
                  <div class="question">
                    <strong>Question?</strong>
                    <p>
                      There's a time when the operation of the machine becomes so odious, makes you so sick at heart, that you can't take part! You can't even passively take part! And you've got to put your bodies upon the gears and upon the wheels…upon the levers, upon all the apparatus, and you've got to make it stop!
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="question">
                    <strong>Question?</strong>
                    <p>
                      There's a time when the operation of the machine becomes so odious, makes you so sick at heart, that you can't take part! You can't even passively take part! And you've got to put your bodies upon the gears and upon the wheels…upon the levers, upon all the apparatus, and you've got to make it stop!
                    </p>
                  </div>
                  <div class="question">
                    <strong>Question?</strong>
                    <p>
                      There's a time when the operation of the machine becomes so odious, makes you so sick at heart, that you can't take part! You can't even passively take part! And you've got to put your bodies upon the gears and upon the wheels…upon the levers, upon all the apparatus, and you've got to make it stop!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='container'>
          <div class="row contact">
            <div class="col-md-12">
              <div class="text-center">
                <h4>
                  Can't decide which plan is right? Call <strong>1-555-1232-9999</strong> any time.
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>