<div class='vertical-center'>
  <div class="container text-center">
    <div class='well'>
      <h1>We're sorry, but something went wrong.</h1>
      <small>If you are the application owner check the logs for more information.</small>
    </div>
  </div>
</div>