<div class='vertical-center'>
  <div class="container">
    <div class="text-center">
      <div class='well'>
        <h1>The page you were looking for doesn't exist.</h1>
        <p class='lead'>You may have mistyped the address or the page may have moved.</p>
        <small>If you are the application owner check the logs for more information.</small>
      </div>
    </div>
  </div>
</div>