<div class='vertical-center'>
  <div class="container text-center">
    <div class='well'>
      <h1>The change you wanted was rejected.</h1>
      <p class='lead'>Maybe you tried to change something you didn't have access to.</p>
      <small>If you are the application owner check the logs for more information.</small>
    </div>
  </div>
</div>