<div class='vertical-center'>
  <div class="container text-center">
    <div class='well'>
      <h1>You're not authorized to do that.</h1>
      <p class='lead'>Maybe you aren't logged in, or need to request access?</p>
      <small>If you are the application owner check the logs for more information.</small>
    </div>
  </div>
</div>