<div class='landing one-page vertical-center'>
  <div class='container'>
    <div class="navbar">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Your Company</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#">Login</a>
      </li>
    </ul>
  </div>
    <div class='row row-same-height'>
      <div class='col-sm-12 col-md-6 col-md-height col-middle'>
        <div class="browser">
          <div class="browser__window">
            <img src="http://placekitten.com/1170/560" width=1170 height=560>
          </div>
        </div>
      </div>
      <div class='col-sm-12 col-md-6 col-md-height col-middle'>
        <h2 class='h1 text-md-left text-xs-center'>Amazing App Benefit</h2>
        <p class="lead text-md-left text-xs-center">This is the best application you could ever buy. You'd be crazy not to buy it. Especially as it's been endorsed by the product teaching mafia.</p>
        <button class='btn btn-outline-primary sign-up'>Get Invite &rarr;</button>
      </div>
    </div>
  </div>
</div>


<!-- <div class='landing one-page vertical-center'>
  <div class='container'>
    <div class="navbar">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">Your Company</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">Login</a>
        </li>
      </ul>
    </div>
    <div class='vertical-center'>
      <div class='container'>
        <div class='row row-same-height'>
          <div class='col-sm-12 col-md-6 col-md-height col-middle'>
            <div class="browser">
              <div class="browser__window">
                <img src="http://placekitten.com/1170/560" width=1170 height=560>
              </div>
            </div>
          </div>
          <div class='col-sm-12 col-md-6 col-md-height col-middle'>
            <h2 class='h1 text-md-left text-xs-center'>Amazing App Benefit</h2>
            <p class="lead text-md-left text-xs-center">This is the best application you could ever buy. You'd be crazy not to buy it. Especially as it's been endorsed by the product teaching mafia.</p>
            <button class='btn btn-outline-primary sign-up'>Get Invite &rarr;</button>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class='row'>
        <div class='col-sm-12'>
          <ul class='list-unstyled list-inline'>
            <li><a href="#">About</a> <br></li>
            <li><a href="#">Blog</a> <br></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>
 -->