<div class='row'>
  <div class='col-sm-12 col-md-12'>
    <div class='user-profile'>
      <header style="background: url('<%= image_path('dresssed/header_1.jpg') %>')">
        <div class='avatar'>
          <img class='img-rounded' src='http://fillmurray.com/200/200' />
          <h1>John McDowall</h1>
        </div>
      </header>
    </div>
  </div>
</div>

