<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">CSS Switches</h3>
        </div>
        <div class="card-body inspectable">
          <input type="checkbox" name="checkbox" class="bootstrap-switch" data-on-color="primary" checked/>
          <input type="checkbox" name="checkbox" class="bootstrap-switch" data-on-color="warning" checked/>

          <input type="checkbox" name="checkbox" class="bootstrap-switch" data-on-color="info" checked/>
          <input type="checkbox" name="checkbox" class="bootstrap-switch" data-on-color="danger" checked/>
          <input type="checkbox" name="checkbox" class="bootstrap-switch" data-on-color="dark" checked/>
          <br>
          <input type="checkbox" name="checkbox" class="bootstrap-switch" data-on-color="blue" data-on-label="ON" data-off-label="OFF" />
        </div>
      </div>
    </div>
  </div>
</div>
