<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3>Basic Buttons</h3>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-default">Default</button>
          <button type="button" class="btn btn-primary">Primary</button>
          <button type="button" class="btn btn-success">Success</button>
          <button type="button" class="btn btn-info">Info</button>
          <button type="button" class="btn btn-warning">Warning</button>
          <button type="button" class="btn btn-danger">Danger</button>
          <button type="button" class="btn btn-light">Light</button>
          <button type="button" class="btn btn-dark">Dark</button>
          <button type="button" class="btn btn-link">Link</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3>Large Buttons</h3>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-lg btn-default my-2">Default</button>
          <button type="button" class="btn btn-lg btn-primary my-2">Primary</button>
          <button type="button" class="btn btn-lg btn-success my-2">Success</button>
          <button type="button" class="btn btn-lg btn-info my-2">Info</button>
          <button type="button" class="btn btn-lg btn-warning my-2">Warning</button>
          <button type="button" class="btn btn-lg btn-danger my-2">Danger</button>
          <button type="button" class="btn btn-lg btn-light my-2">Light</button>
          <button type="button" class="btn btn-lg btn-dark my-2">Dark</button>
          <button type="button" class="btn btn-lg btn-link my-2">Link</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3>Small Buttons</h3>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-sm btn-default my-2">Default</button>
          <button type="button" class="btn btn-sm btn-primary my-2">Primary</button>
          <button type="button" class="btn btn-sm btn-success my-2">Success</button>
          <button type="button" class="btn btn-sm btn-info my-2">Info</button>
          <button type="button" class="btn btn-sm btn-warning my-2">Warning</button>
          <button type="button" class="btn btn-sm btn-danger my-2">Danger</button>
          <button type="button" class="btn btn-sm btn-light my-2">Light</button>
          <button type="button" class="btn btn-sm btn-dark my-2">Dark</button>
          <button type="button" class="btn btn-sm btn-link my-2">Link</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3>Icon Buttons</h3>
        </div>
        <div class="card-body">
          <div>
            <button type="button" class="btn btn-default my-2"><i class="ti-star"></i> Default</button>
            <button type="button" class="btn btn-primary my-2"><i class="ti-heart"></i> Primary</button>
            <button type="button" class="btn btn-success my-2"><i class="ti-eye"></i> Success</button>
            <button type="button" class="btn btn-info my-2"><i class="ti-crown"></i> Info</button>
            <button type="button" class="btn btn-warning my-2"><i class="ti-bolt-alt"></i> Warning</button>
            <button type="button" class="btn btn-danger my-2"><i class="ti-alert"></i> Danger</button>
            <button type="button" class="btn btn-light my-2"><i class="ti-info-alt"></i> Light</button>
            <button type="button" class="btn btn-dark my-2"><i class="ti-hand-stop"></i> Dark</button>
            <button type="button" class="btn btn-link my-2"><i class="ti-alert"></i> Link</button>
          </div>
          <div>
            <button type="button" class="btn btn-icon btn-default my-2"><i class="ti-star"></i></button>
            <button type="button" class="btn btn-icon btn-primary my-2"><i class="ti-heart"></i></button>
            <button type="button" class="btn btn-icon btn-success my-2"><i class="ti-eye"></i></button>
            <button type="button" class="btn btn-icon btn-info my-2"><i class="ti-crown"></i></button>
            <button type="button" class="btn btn-icon btn-warning my-2"><i class="ti-bolt-alt"></i></button>
            <button type="button" class="btn btn-icon btn-danger my-2"><i class="ti-alert"></i></button>
            <button type="button" class="btn btn-icon btn-light my-2"><i class="ti-info-alt"></i></button>
            <button type="button" class="btn btn-icon btn-dark my-2"><i class="ti-hand-stop"></i></button>
            <button type="button" class="btn btn-icon btn-link my-2"><i class="ti-alert"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="card card-default">
    <div class="card-header">
      <h3 class="card-title">Circular Buttons</h3>
    </div>
    <div class="card-body">
      <p>
        <button type="button" class="btn btn-circle btn-lg btn-default">Default</button>
        <button type="button" class="btn btn-circle btn-lg btn-primary">Primary</button>
        <button type="button" class="btn btn-circle btn-lg btn-success">Success</button>
        <button type="button" class="btn btn-circle btn-lg btn-info">Info</button>
        <button type="button" class="btn btn-circle btn-lg btn-warning">Warning</button>
        <button type="button" class="btn btn-circle btn-lg btn-danger">Danger</button>
        <button type="button" class="btn btn-circle btn-lg btn-dark">Inverse</button>
        <button type="button" class="btn btn-circle btn-lg btn-link">Link</button>
      </p>
      <p>
        <button type="button" class="btn btn-circle btn-default">Default</button>
        <button type="button" class="btn btn-circle btn-primary">Primary</button>
        <button type="button" class="btn btn-circle btn-success">Success</button>
        <button type="button" class="btn btn-circle btn-info">Info</button>
        <button type="button" class="btn btn-circle btn-warning">Warning</button>
        <button type="button" class="btn btn-circle btn-danger">Danger</button>
        <button type="button" class="btn btn-circle btn-dark">Inverse</button>
        <button type="button" class="btn btn-circle btn-link">Link</button>
      </p>
      <p>
        <button type="button" class="btn btn-circle btn-icon btn-default"><span class="ti-star"></span></button>
        <button type="button" class="btn btn-icon btn-circle btn-primary"><span class="ti-smallcap"></span></button>
        <button type="button" class="btn btn-circle btn-icon btn-success"><span class="ti-plus"></span></button>
        <button type="button" class="btn btn-circle btn-icon btn-info"><span class="ti-align-left"></span></button>
        <button type="button" class="btn btn-circle btn-icon btn-warning"><span class="ti-layout-slider"></span></button>
        <button type="button" class="btn btn-circle btn-icon btn-danger"><span class="ti-upload"></span></button>
        <button type="button" class="btn btn-circle btn-icon btn-dark"><span class="ti-download"></span></button>
        <button type="button" class="btn btn-circle btn-icon btn-link"><span class="ti-loop"></span></button>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3>Outline Buttons</h3>
        </div>
        <div class="card-body">
          <div class="my-4">
            <button type="button" class="btn btn-circle btn-outline-default">Default</button>
            <button type="button" class="btn btn-circle btn-outline-primary">Primary</button>
            <button type="button" class="btn btn-circle btn-outline-success">Success</button>
            <button type="button" class="btn btn-circle btn-outline-info">Info</button>
            <button type="button" class="btn btn-circle btn-outline-warning">Warning</button>
            <button type="button" class="btn btn-circle btn-outline-danger">Danger</button>
            <button type="button" class="btn btn-circle btn-outline-dark">Dark</button>
            <button type="button" class="btn btn-circle btn-outline-light">Light</button>
            <button type="button" class="btn btn-circle btn-outline-link">Link</button>
          </div>
          <div>
            <button type="button" class="btn btn-circle btn-icon btn-outline-default"><span class="ti-star"></span></button>
            <button type="button" class="btn btn-icon btn-circle btn-outline-primary"><span class="ti-smallcap"></span></button>
            <button type="button" class="btn btn-circle btn-icon btn-outline-success"><span class="ti-plus"></span></button>
            <button type="button" class="btn btn-circle btn-icon btn-outline-info"><span class="ti-align-left"></span></button>
            <button type="button" class="btn btn-circle btn-icon btn-outline-warning"><span class="ti-layout-slider"></span></button>
            <button type="button" class="btn btn-circle btn-icon btn-outline-danger"><span class="ti-upload"></span></button>
            <button type="button" class="btn btn-circle btn-icon btn-outline-dark"><span class="ti-download"></span></button>
            <button type="button" class="btn btn-circle btn-icon btn-outline-link"><span class="ti-loop"></span></button>
          </div>
          <div class="my-4">
            <button type="button" class="btn btn-circle btn-border-2x btn-outline-default">Default</button>
            <button type="button" class="btn btn-circle btn-border-2x btn-outline-primary">Primary</button>
            <button type="button" class="btn btn-circle btn-border-2x btn-outline-success">Success</button>
            <button type="button" class="btn btn-circle btn-border-2x btn-outline-info">Info</button>
            <button type="button" class="btn btn-circle btn-border-2x btn-outline-warning">Warning</button>
            <button type="button" class="btn btn-circle btn-border-2x btn-outline-danger">Danger</button>
            <button type="button" class="btn btn-circle btn-border-2x btn-outline-dark">Dark</button>
            <button type="button" class="btn btn-circle btn-border-2x btn-outline-light">Light</button>
            <button type="button" class="btn btn-circle btn-border-2x btn-outline-link">Link</button>
          </div>
          <div>
            <button type="button" class="btn btn-circle btn-icon btn-border-2x btn-outline-default"><span class="ti-star"></span></button>
            <button type="button" class="btn btn-icon btn-circle btn-border-2x btn-outline-primary"><span class="ti-smallcap"></span></button>
            <button type="button" class="btn btn-circle btn-icon btn-border-2x btn-outline-success"><span class="ti-plus"></span></button>
            <button type="button" class="btn btn-circle btn-icon btn-border-2x btn-outline-info"><span class="ti-align-left"></span></button>
            <button type="button" class="btn btn-circle btn-icon btn-border-2x btn-outline-warning"><span class="ti-layout-slider"></span></button>
            <button type="button" class="btn btn-circle btn-icon btn-border-2x btn-outline-danger"><span class="ti-upload"></span></button>
            <button type="button" class="btn btn-circle btn-icon btn-border-2x btn-outline-dark"><span class="ti-download"></span></button>
            <button type="button" class="btn btn-circle btn-icon btn-border-2x btn-outline-link"><span class="ti-loop"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
