<div class='row'>
  <div class='col-sm-12'>
    <div class="panel panel-default" id="input-groups">
      <div class="panel-heading">Input Groups
      </div>
      <div class="panel-body">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
          <input type="text" class="form-control" placeholder="Username">
        </div><br>
        <div class="input-group">
          <input type="text" class="form-control input-large">
          <span class="input-group-addon input-large">.00</span>
        </div><br>
        <div class="input-group leading">
          <span class="input-group-addon">$</span><input type="text" class="form-control">
          <span class="input-group-addon">.00</span>
        </div>
        <div class="input-group leading">
          <span class="input-group-addon">@</span>
          <input type="text" class="form-control" placeholder="Username" />
        </div>
        <div class="input-group leading">
          <input type="text" class="form-control" />
          <span class="input-group-addon">.00</span>
        </div>
        <div class="input-group leading">
          <span class="input-group-addon">$</span>
          <input type="text" class="form-control" />
          <span class="input-group-addon">.00</span>
        </div>
        <div class="input-group leading">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Go!</button>
          </span>
          <input type="text" class="form-control" />
        </div>
        <div class="input-group leading">
          <input type="text" class="form-control" />
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Go!</button>
          </span>
        </div>
        <div class="input-group leading">
          <div class="input-group-btn">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="drop1">Action <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
              <li role="menuitem"><a tabindex="-1" href="#">Action</a></li>
              <li role="menuitem"><a tabindex="-1" href="#">Link</a></li>
              <li role="menuitem"><a tabindex="-1" href="#">Link</a></li>
              <li role="menuitem" class="divider"></li>
              <li role="menuitem"><a tabindex="-1" href="#">Link</a></li>
            </ul>
          </div>
          <input type="text" class="form-control" />
        </div>
        <div class="input-group">
          <input type="text" class="form-control" />
          <div class="input-group-btn">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="drop2">Action <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
              <li role="menuitem"><a tabindex="-1" href="#">Action</a></li>
              <li role="menuitem"><a tabindex="-1" href="#">Link</a></li>
              <li role="menuitem"><a tabindex="-1" href="#">Link</a></li>
              <li role="menuitem" class="divider"></li>
              <li role="menuitem"><a tabindex="-1" href="#">Link</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>