@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

// Dresssed Theme config file
// ==========================
@import "dresssed/ives/colors";
@import "dresssed/ives/styles/defaults";

// STYLE
// -----
// Pick one style. Just one. Comment or remove the other ones.
// @import "dresssed/ives/styles/blue";
// @import "dresssed/ives/styles/black";
@import "dresssed/ives/styles/amber";

// RULES
// -----
// You can optionally remove some imports to end up with a tidier file. But keep in mind some
// rules in a file might depend on rules in another one.

// Reset and dependencies
@import "twitter/bootstrap/normalize";
@import "twitter/bootstrap/print";
@import "twitter/bootstrap/glyphicons";

// Core CSS
@import "twitter/bootstrap/scaffolding";
@import "twitter/bootstrap/type";
@import "twitter/bootstrap/code";
@import "twitter/bootstrap/grid";
@import "twitter/bootstrap/tables";
@import "twitter/bootstrap/forms";
@import "twitter/bootstrap/buttons";
@import "dresssed/ives/devices";

// Components
@import "twitter/bootstrap/component-animations";
@import "twitter/bootstrap/dropdowns";
@import "twitter/bootstrap/button-groups";
@import "twitter/bootstrap/input-groups";
@import "twitter/bootstrap/navs";
@import "twitter/bootstrap/navbar";
@import "twitter/bootstrap/breadcrumbs";
@import "twitter/bootstrap/pagination";
@import "twitter/bootstrap/pager";
@import "twitter/bootstrap/labels";
@import "twitter/bootstrap/badges";
@import "twitter/bootstrap/jumbotron";
@import "twitter/bootstrap/thumbnails";
@import "twitter/bootstrap/alerts";
@import "twitter/bootstrap/progress-bars";
@import "twitter/bootstrap/media";
@import "twitter/bootstrap/list-group";
@import "twitter/bootstrap/panels";
@import "twitter/bootstrap/responsive-embed";
@import "twitter/bootstrap/wells";
@import "twitter/bootstrap/close";

// Components w/ JavaScript
@import "twitter/bootstrap/modals";
@import "twitter/bootstrap/tooltip";
@import "twitter/bootstrap/popovers";
@import "twitter/bootstrap/carousel";

// Utility classes
@import "twitter/bootstrap/utilities";
@import "twitter/bootstrap/responsive-utilities";

// Import Dresssed rules.
@import "dresssed/ives/mixins";

// Page structure
@import "dresssed/ives/layouts";
@import "dresssed/ives/header";
@import "dresssed/ives/featured";
@import "dresssed/ives/banner";
@import "dresssed/ives/pricing";
@import "dresssed/ives/footer";

// Base CSS
@import "dresssed/ives/type";
@import "dresssed/ives/tables";
@import "dresssed/ives/code";
@import "dresssed/ives/forms";
@import "dresssed/ives/addons";

// Buttons
@import "dresssed/ives/buttons";
@import "dresssed/ives/button-groups";

// Navs
@import "dresssed/ives/navs";
@import "dresssed/ives/navs/tabs";
@import "dresssed/ives/navs/pills";
@import "dresssed/ives/navs/stacked-tabs";
@import "dresssed/ives/navs/stacked-pills";
@import "dresssed/ives/navs/tabbable";
@import "dresssed/ives/breadcrumbs";
@import "dresssed/ives/list-groups";

// Misc navs
@import "dresssed/ives/navbar";
@import "dresssed/ives/sidenav";
@import "dresssed/ives/pagination";
@import "dresssed/ives/pager";

// Misc components
@import "dresssed/ives/tooltip";
@import "dresssed/ives/alerts";
@import "dresssed/ives/dropdowns";
@import "dresssed/ives/checkboxes";
@import "dresssed/ives/wells";
@import "dresssed/ives/sheets";
@import "dresssed/ives/labels";
@import "dresssed/ives/thumbnails";
@import "dresssed/ives/jumbotron";
@import "dresssed/ives/panels";
@import "dresssed/ives/progress-bars";
@import "dresssed/ives/modals";
@import "dresssed/ives/sprites";
@import "dresssed/ives/extensions";
@import "dresssed/ives/switch";
@import "dresssed/ives/devise";
@import "dresssed/ives/simple_animations";
@import "dresssed/ives/font-awesome-icons";
@import "dresssed/ives/rickshaw";
@import "dresssed/ives/morris";
@import "dresssed/ives/metrics";
@import "dresssed/ives/loaders";

// App Pages
@import "dresssed/ives/app_pages/user-settings";
@import "dresssed/ives/app_pages/timeline";
@import "dresssed/ives/app_pages/user-profile";
@import "dresssed/ives/landing_pages";
@import "dresssed/ives/blog";

// Font Awesome
@import "font_awesome/font-awesome";

// Ionicons
@import "ionicons/ionicons";

// Material Design Icons
@import "mdiicons/icons-material-design";

// CUSTOM RULES
// ------------
// Optionally override any rule here. Or do so in another file.
// ...

// Uncomment to change the logo in the left corner of the top navbar.
/* .navbar .brand {
  background-image: asset-url('logo.png');
  width: 105px;
  height: 24px;
}
*/
