<%% @title = "Editing <%= singular_table_name %>" %>

<%% content_for :description do %>
  <p>Edit this template in <code>app/views/<%= controller_name %>/edit.html.erb</code>.</p>
  <%% end %>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="card card-sheet">
        <div class="card-body">
          <div class="container">
            <%%= render 'form' %>
          </div>
        </div>
      </div>
    </div>

    <div id="sidebar" class="col-md-3">
      <ul class="nav nav-stacked nav-caret-left bg-gray-200 card small pb-2">
        <li><h6 class="mt-3 ml-3">Sub Menu</h6></li>
        <li class="nav-item">
        <a class="nav-link" href="#">Vacation Days</a>
        </li>
        <li class="nav-item active">
        <a class="nav-link" href="#">Salaries</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Disciplinary Items</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Firings</a>
        </li>
      </ul>
    </div>
  </div>
</div>
