<div id="main" class="vertical-center">
  <div class="container">
    <div class="row">
      <div id="content" class="col-md-12">

<h1>My App</h1>

<div class="container">
  <form accept-charset="UTF-8" action="/users/sign_in" class="form-horizontal col-xs-12 col-md-6 col-md-offset-3" id="new_user" method="post"><div style="display:none"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="RK+sV+P8SMeuazS0QHZxIU3lQawlk0f0mudPWVl2d6Q="></div>


    <div class="sheet form-sheet">
      <div class="sheet-inner">
        <div class="form-group ">
          <label class="form-label" for="user_email">Email</label>
          <input autofocus="autofocus" class="col-sm-1 col-md-3" id="user_email" name="user[email]" type="email" value="">

</div>
        <div class="form-group ">
          <label class="form-label" for="user_password">Password</label>
          <input id="user_password" name="user[password]" type="password">

</div>      </div>
    </div>

      <div class="form-sheet-footer">
        <label class="checkbox" for="user_remember_me">
          <input name="user[remember_me]" type="hidden" value="0"><input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1"> Remember me
</label>      </div>

    <div class="form-actions text-right">
      <input class="btn btn-primary" name="commit" type="submit" value="Log in">
      or
      <a href="/users/sign_up">Sign up</a>
      for an account.
    </div>
</form>
</div>
<div class="row">
  <div class="box">
    <ul class="list-unstyled">
        <li><a href="/users/password/new">Forgot your password?</a></li>
        <li><a href="/users/confirmation/new">Didn't receive confirmation instructions?</a></li>
        <li><a href="/users/unlock/new">Didn't receive unlock instructions?</a></li>
    </ul>
  </div>
</div>
    </div>

  </div> <!-- /.container -->
</div>