<div id="main" class="vertical-center">
      <div class="container">
        <div class="row">


        </div>

  <div class="row">
    <div id="content" class="col-md-12">
      <h1 class='text-center'>Welcome to Your App!</h1>
      <div class='row'>
        <div class='text-center'>
          <p>Create a password below (minimum 8 characters please):</p>
        </div>
      </div>
      <form class="form-horizontal" id="new_user" action="/" accept-charset="UTF-8" method="post">
         <div class="sheet form-sheet">
          <div class="sheet-inner">
            <div class="form-group">
              <label for='user_password' class='form-label'>Password</label>
              <input required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" type="email" value="" name="user[email]" id="user_password">
            </div>
            <div class="form-group">
              <label for='user_password_confirmation' class='form-label'>Password Confirmation</label>
              <input required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" type="email" value="" name="user[email]" id="user_password_confirmation">
            </div>
          </div>
        </div>
        <div class="form-actions pull-right">
          <input type="submit" name="commit" value="Accept Invite →" class="btn btn-outline-primary">
        </div>
      </form>
    </div> <!-- /#content -->
  </div>

      </div> <!-- /.container -->
    </div>