<div class="well">
  All Error pages are presented in a minimal, vertically centered layout.
</div>
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">403</h3>
      </div>
      <div class="panel-body">
        <div class="text-center">
      <div class='well'>
        <h1>You're not authorized to do that.</h1>
        <p class='lead'>Maybe you aren't logged in, or need to request access?</p>
        <small>If you are the application owner check the logs for more information.</small>
      </div>
    </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">404</h3>
      </div>
      <div class="panel-body">
        <div class="text-center">
      <div class='well'>
        <h1>The page you were looking for doesn't exist.</h1>
        <p class='lead'>You may have mistyped the address or the page may have moved.</p>
        <small>If you are the application owner check the logs for more information.</small>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">422</h3>
      </div>
      <div class="panel-body">
        <div class="text-center">
      <div class='well'>
        <h1>The change you wanted was rejected.</h1>
        <p class='lead'>Maybe you tried to change something you didn't have access to.</p>
        <small>If you are the application owner check the logs for more information.</small>
      </div>
    </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">500</h3>
      </div>
      <div class="panel-body">
        <div class="text-center">
          <div class='well'>
            <h1>We're sorry, but something went wrong.</h1>
            <small>If you are the application owner check the logs for more information.</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>