.d-flex.align-items-center.justify-content-center.w-100.h-100
  .container.text-center
    .row
      .col-12.col-md-6.ml-md-auto.mr-md-auto
        .card
          .card-body.pt-5.pb-5.px-5
            %i.display-3.fa.fa-question-circle-o.text-gray-900
            %h5.small.text-muted 404
            %h3.mt-4 Sorry but we couldn't find that page.
            %p You may have mistyped the address or the page may have moved.
            %small.text-muted If you are the application owner check the logs for more information.
