<%= content_for :js_libs, "chartjs demo-chartjs" %>

<div class="container-fluid">
  <div class="card card-default">
    <h6 class="card-header">Line Charts</h6>
    <div class="card-body">
      <canvas class="sales-vs-refunds" style="display: block; height: 300px; width: 600px;"></canvas>
    </div>
  </div>

  <div class="card card-default">
    <h6 class="card-header">Line Charts</h6>
    <div class="card-body">
      <canvas class="sales-vs-refunds-bars" style="display: block; height: 300px; width: 600px;"></canvas>
    </div>
  </div>

  <div class="card card-default">
    <h6 class="card-header">Pie Charts</h6>
    <div class="card-body">
      <canvas class="demo-pie" style="display: block; height: 300px; width: 600px;"></canvas>
    </div>
  </div>

  <div class="card card-default">
    <h6 class="card-header">Donut</h6>
    <div class="card-body">
      <canvas class="demo-doughnut" style="display: block; height: 300px; width: 600px;"></canvas>
    </div>
  </div>

  <div class="card card-default">
    <h6 class="card-header">Polar</h6>
    <div class="card-body">
      <canvas class="demo-polar" style="display: block; height: 300px; width: 600px;"></canvas>
    </div>
  </div>


  <div class="card card-default">
    <h6 class="card-header">Radar</h6>
    <div class="card-body">
      <canvas class="demo-radar" style="display: block; height: 300px; width: 600px;"></canvas>
    </div>
  </div>


</div>
