<%= content_for :js_libs, "chartjs demo-flot" %>

<div class="card card-default">
  <h3 class="card-header">Realtime Charts</h3>
  <div class="card-body">
    <div class="demo-realtime" style="height: 400px; width: 100%;"></div>
  </div>
</div>

<div class="card card-default">
  <h3 class="card-header">Line Charts</h3>
  <div class="card-body">
    <div class="demo-line" style="height: 400px; width: 100%;"></div>
  </div>
</div>

<div class="card card-default">
  <h3 class="card-header">Stacked Charts</h3>
  <div class="card-body">
    <div class="demo-stacked" style="height: 400px; width: 100%;"></div>
  </div>
</div>

<div class="card card-default">
  <h3 class="card-header">Bars</h3>
  <div class="card-body">
    <div class="demo-bars" style="height: 400px; width: 100%;"></div>
  </div>
</div>

<div class="card card-default">
  <h3 class="card-header">Pie</h3>
  <div class="card-body">
    <div class="demo-pie" style="height: 400px; width: 100%;"></div>
  </div>
</div>


