<%= content_for :js_libs, "chartjs demo-flot" %>

<div class="container-fluid">
  <div class="card card-default">
    <h6 class="card-header">Realtime Charts</h6>
    <div class="card-body">
      <div class="demo-realtime" style="height: 400px; width: 100%;"></div>
    </div>
  </div>

  <div class="card card-default">
    <h6 class="card-header">Line Charts</h6>
    <div class="card-body">
      <div class="demo-line" style="height: 400px; width: 100%;"></div>
    </div>
  </div>

  <div class="card card-default">
    <h6 class="card-header">Stacked Charts</h6>
    <div class="card-body">
      <div class="demo-stacked" style="height: 400px; width: 100%;"></div>
    </div>
  </div>

  <div class="card card-default">
    <h6 class="card-header">Bars</h6>
    <div class="card-body">
      <div class="demo-bars" style="height: 400px; width: 100%;"></div>
    </div>
  </div>

  <div class="card card-default">
    <h6 class="card-header">Pie</h6>
    <div class="card-body">
      <div class="demo-pie" style="height: 400px; width: 100%;"></div>
    </div>
  </div>


</div>
