<%= content_for :js_libs, "chartjs demo-sparklines" %>

<div class="container-fluid">
  <div class="card card-default">
    <h6 class="card-header">Standard Sparklines</h6>
    <div class="card-body inspectable">
      <div class="row" >
        <div class="col-6 col-md-4">
          <span class="spark-line-1">9,5,3,6,5,4,1,5,7</span>
        </div>
        <div class="col-6 col-md-4">
          <span class="spark-line-2">456,345,456,456,567,234,453,123,345</span>
        </div>
        <div class="col-12 col-md-4">
          <span class="spark-line-3">78,67,76,56,45,65,34,56,34,23</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-default">
    <h6 class="card-header">Bar Sparklines</h6>
    <div class="card-body inspectable">
      <div class="row" >
        <div class="col-6 col-md-4">
          <span class="spark-bar-1">12,23,19,18,12,2,33,12</span>
        </div>
        <div class="col-6 col-md-4">
          <span class="spark-bar-2">122,534,123,432,234,654,456,645</span>
        </div>
        <div class="col-12 col-md-4">
          <span class="spark-bar-3">3456,3244,2344,6452,1234,1234,4311</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-default">
    <h6 class="card-header">Pie Sparklines</h6>
    <div class="card-body inspectable">
      <div class="row" >
        <div class="col-6 col-md-4">
          <span class="spark-pie-1">23,19,42,10</span>
        </div>
        <div class="col-6 col-md-4">
          <span class="spark-pie-2">500,540,432,12</span>
        </div>
        <div class="col-12 col-md-4">
          <span class="spark-pie-3">99,12,123,321</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-default">
    <h6 class="card-header">Tristate Sparklines</h6>
    <div class="card-body inspectable">
      <div class="row" >
        <div class="col-6 col-md-4">
          <span class="spark-tri-1">1,1,1,-1,-1,0,0,-1</span>
        </div>
        <div class="col-6 col-md-4">
          <span class="spark-tri-2">-1,0,-1,-1,0,-1,1,1</span>
        </div>
        <div class="col-12 col-md-4">
          <span class="spark-tri-3">1,1,1,-1,-1,0,0,-1</span>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
