
<%= content_for :js_libs, "chartjs demo-easy-pie" %>

<div class="card card-default">
  <h3 class="card-header">Line Charts</h3>
  <div class="card-body">
    <canvas class="sales-vs-refunds" style="display: block; height: 300px; width: 600px;"></canvas>
  </div>
</div>

<div class="card card-default">
  <h3 class="card-header">Line Charts</h3>
  <div class="card-body">
    <canvas class="sales-vs-refunds-bars" style="display: block; height: 300px; width: 600px;"></canvas>
  </div>
</div>

<div class="card card-default">
  <h3 class="card-header">Pie Charts</h3>
  <div class="card-body">
    <canvas class="demo-pie" style="display: block; height: 300px; width: 600px;"></canvas>
  </div>
</div>

<div class="card card-default">
  <h3 class="card-header">Donut</h3>
  <div class="card-body">
    <canvas class="demo-doughnut" style="display: block; height: 300px; width: 600px;"></canvas>
  </div>
</div>

<div class="card card-default">
  <h3 class="card-header">Polar</h3>
  <div class="card-body">
    <canvas class="demo-polar" style="display: block; height: 300px; width: 600px;"></canvas>
  </div>
</div>


<div class="card card-default">
  <h3 class="card-header">Radar</h3>
  <div class="card-body">
    <canvas class="demo-radar" style="display: block; height: 300px; width: 600px;"></canvas>
  </div>
</div>


