
<%= content_for :js_libs, "chartjs demo-easypiechart" %>

<div class="container-fluid">
  <div class="card card-default">
    <h3 class="card-header">Standard Pie Chart</h3>
    <div class="card-body">
      <div class="row text-center" data-toggle="appear">
        <div class="col-12 col-md-4">
          <div class="js-pie-chart pie-chart" data-percent="30" data-line-width="1" data-size="120" data-bar-color="green" data-track-color="#e9e9e9">
            <div class="pie-chart-value">
              <span>30%</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="js-pie-chart pie-chart" data-percent="60" data-line-width="2" data-size="120" data-bar-color="orange" data-track-color="#e9e9e9">
            <div class="pie-chart-value">
              <span>60%</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="js-pie-chart pie-chart" data-percent="90" data-line-width="4" data-size="120" data-bar-color="red" data-track-color="#e9e9e9">
            <div class="pie-chart-value">
              <span>90%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-default">
    <h3 class="card-header">Pie Chart with Icon</h3>
    <div class="card-body">
      <div class="row text-center" data-toggle="appear">
        <div class="col-12 col-md-4">
          <div class="js-pie-chart pie-chart" data-percent="30" data-line-width="1" data-size="120" data-bar-color="green" data-track-color="#e9e9e9">
            <div class="pie-chart-value">
              <i class="ti-user"></i>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="js-pie-chart pie-chart" data-percent="60" data-line-width="2" data-size="120" data-bar-color="orange" data-track-color="#e9e9e9">
            <div class="pie-chart-value">
              <i class="ti-shopping-cart"></i>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="js-pie-chart pie-chart" data-percent="90" data-line-width="4" data-size="120" data-bar-color="red" data-track-color="#e9e9e9">
            <div class="pie-chart-value">
              <i class="ti-crown"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-default">
    <h3 class="card-header">Pie with Markers</h3>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="js-pie-chart pie-chart" data-percent="32" data-line-width="1" data-size="120" data-bar-color="green" data-track-color="#93b3d5" data-scale-color="#6886a7">
            <div class="pie-chart-value">
              <small>30%</small>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="js-pie-chart pie-chart" data-percent="62" data-line-width="2" data-size="120" data-bar-color="orange" data-track-color="#93b3d5" data-scale-color="#6886a7">
            <div class="pie-chart-value">
              <small>60%</small>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="js-pie-chart pie-chart" data-percent="92" data-line-width="4" data-size="120" data-bar-color="red" data-track-color="#93b3d5" data-scale-color="#6886a7">
            <div class="pie-chart-value">
              <small>92%</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
