<div class="h-100 d-flex flex-column align-items-center justify-content-center">
  <div class="fa-icon text-blue-grey-400">
    <i class="fa fa-fw fa-2x fa-frown-o"></i>
  </div>
  <div class='well'>
    <h5>500</h5>
    <h2 class="mt0">We're sorry, but something went wrong.</h2>
    <small>If you are the application owner check the logs for more information.</small>
  </div>
</div>
