<div class="navbar-header">
  <div class="profile">
    <%= random_avatar 60, "rounded-circle profile-image" %>
    <div class="profile-body">
      <h6>Fill Murray</h6>
      <div class="user-links">
        <a class="btn btn-link" href="#" data-placement="bottom" data-toggle="tooltip" data-original-title="Profile">
          <i class="ti-user"></i>
        </a>
        <a class="btn btn-link" href="#" data-placement="bottom" data-toggle="tooltip" data-original-title="Messages">
          <i class="ti-email"></i>
        </a>
        <a class="btn btn-link" href="#" data-placement="bottom" data-toggle="tooltip" data-original-title="Settings">
          <i class="ti-settings"></i>
        </a>
        <a class="btn btn-link" href="#" data-placement="bottom" data-toggle="tooltip" data-original-title="Logout">
          <i class="ti-power-off"></i>
        </a>
      </div>
    </div>
  </div>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#menu-content" aria-controls="menu-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
