.nav-side-menu
  .brand Sidenav Header
  %i.fa.fa-bars.fa-2x.toggle-btn{"data-target" => "#menu-content", "data-toggle" => "collapse"}
  %ul#menu-content.nav.in.navbar-collapse.active
    %li
      %a{:href => "#"}
        %i.fa.fa-sitemap.fa-fw
        Multi-Level Dropdown
        %span.fa.arrow
      %ul.nav.nav-second-level.collapse{"aria-expanded" => "false"}
        %li
          %a.active{:href => "#"} Second Level Item
        %li
          %a.active{:href => "#"} Second Level Item
        %li
          %a{:href => "#"}
            Third Level
            %span.fa.arrow
          %ul.nav.nav-third-level
            %li
              %a.active{:href => "#"} Third Level Item
            %li
              %a.active{:href => "#"} Third Level Item
            %li
              %a.active{:href => "#"} Third Level Item
            %li
              %a.active{:href => "#"} Third Level Item
          / /.nav-third-level
      / /.nav-second-level
    %li.nav-side-menu-footer
      %div
        %small
          %strong 3 Users
          \/ 10 Users
          %span.pull-right
            %button.btn.btn-outline-info.btn-flat.btn-xs
              %i.fa.fa-plus
      .progress.progress-mini
        .progress-bar.progress-bar-primary{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "33", :role => "progressbar", :style => "width: 33%"}
      .text-center
        100% operatinal capacity