.nav-side-menu
  .brand Sidenav Header
  %i.fa.fa-bars.fa-2x.toggle-btn{"data-target" => "#menu-content", "data-toggle" => "collapse"}
  .menu-list
    %ul#menu-content.menu-content.collapse
      %li.collapsed{"data-target" => "#sub-menu-1", "data-toggle" => "collapse"}
        %a{:href => "#"}
          %i.fa.fa-star.fa-lg>
          Item 1
          %span.arrow
      %ul#sub-menu-1.sub-menu.collapse
        %li
          This is an item.
        %li
          This is an item.
        %li
          This is an item.
      %li
        %a{:href => "#"}
          %i.fa.fa-star.fa-lg>
          Top Level Item
      %li
        .nav-side-menu-footer
          %div
            %small
              %strong 3 Users
              \/ 10 Users
              %span.pull-right
                %button.btn.btn-outline-info.btn-flat.btn-xs
                  %i.fa.fa-plus
          .progress.progress-mini
            .progress-bar.progress-bar-primary{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "33", :role => "progressbar", :style => "width: 33%"}
          .text-center
            100% operatinal capacity