<%= content_for :js_libs, "jasny" %>

<div class="jumbotron bg-white d-flex align-items-center justify-content-center flex-column pb-0">
  <%= random_avatar 128, 'rounded-circle shadow mb-3' %>
  <h2 class="m-0 mb-2">Phill McMurray</h2>
  <div class="badge badge-light">
    PRO ACCOUNT
  </div>
  <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-expanded="true">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="plan-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-expanded="false">Plan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="billing-tab" data-toggle="tab" href="#billing" role="tab" aria-controls="billing" aria-expanded="false">Billing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="notifications-tab" data-toggle="tab" href="#notifications" role="tab" aria-controls="notifications" aria-expanded="false">Notifications</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="support-tab" data-toggle="tab" href="#support" role="tab" aria-controls="support" aria-expanded="false">Support</a>
    </li>
  </ul>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 mr-auto ml-auto">
      <div class="tab-content pt-2 pb-2" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="profile-tab">
          <div class="card">
            <div class="card-body">
              <h5 class="mb-4">PROFILE</h5>
              <form>
                <div class="fileinput fileinput-new d-flex flex-column align-items-center" data-provides="fileinput">
                  <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                    <%= random_avatar 128, 'rounded-circle shadow' %>
                  </div>
                  <div class="fileinput-preview fileinput-exists avatar rounded-circle" style="height:150px;"></div>
                  <div>
                    <span class="btn btn-sm btn-outline-primary btn-link btn-file">
                      <span class="fileinput-new">Change Avatar</span>
                      <span class="fileinput-exists">Change again</span>
                      <input type="file" name="...">
                    </span>
                    <a href="#" class="btn btn-outline-primary btn-sm btn-link fileinput-exists" data-dismiss="fileinput">Remove</a>
                  </div>
                </div>
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" placeholder="Enter email" value="Johnny Appleseed">
                </div>
                <div class="form-group">
                  <label>Email address</label>
                  <input type="email" class="form-control" placeholder="Enter email" value="johnny@appleseed.com">
                </div>
                <div class="form-group">
                  <label>Timezone</label>
                  <div>
                    <select class="custom-select w-100" id="user_time_zone">
                      <option value="Hawaii">(GMT-10:00) Hawaii</option>
                      <option value="Alaska">(GMT-09:00) Alaska</option>
                      <option value="Pacific Time (US &amp; Canada)"> (GMT-08:00) Pacific Time (US &amp; Canada) </option>
                      <option value="Arizona">(GMT-07:00) Arizona</option>
                      <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                      <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                      <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                      <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                      <option value="" disabled="disabled">-------------</option>
                      <option value="American Samoa">(GMT-11:00) American Samoa</option>
                      <option value="International Date Line West">(GMT-11:00) International Date Line West</option>
                      <option value="Midway Island">(GMT-11:00) Midway Island</option>
                      <option value="Tijuana">(GMT-08:00) Tijuana</option>
                      <option value="Chihuahua">(GMT-07:00) Chihuahua</option>
                      <option value="Mazatlan">(GMT-07:00) Mazatlan</option>
                      <option value="Central America">(GMT-06:00) Central America</option>
                      <option value="Guadalajara">(GMT-06:00) Guadalajara</option>
                      <option value="Mexico City">(GMT-06:00) Mexico City</option>
                      <option value="Monterrey">(GMT-06:00) Monterrey</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label>Street &amp; Number</label>
                  <input type="text" class="form-control" placeholder="Street & Number" value="5th Avenue 3053">
                </div>
                <div class="form-group">
                  <label>City</label>
                  <input type="text" class="form-control" placeholder="City" value="San Francisco">
                </div>
                <div class="form-group">
                  <label>ZIP</label>
                  <input type="text" class="form-control" placeholder="ZIP" value="3352">
                </div>
                <div class="form-group">
                  <label>New password</label>
                  <input type="password" class="form-control">
                </div>
                <div class="form-group">
                  <label>Confirm new password</label>
                  <input type="password" class="form-control">
                </div>
                <div class="form-group">
                  <label>Current password</label>
                  <input type="password" class="form-control">
                </div>
                <div class="form-group d-flex">
                  <input type="submit" class="btn btn-success ml-auto" value="Save changes">
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="billing" role="tabpanel" aria-labelledby="billing-tab">
          <div class="card">
            <div class="card-body">
              <h5>BILLING DETAILS</h5>
              <div class="d-flex align-items-center mb-4">
                <img src="<%= asset_path('dresssed/creditcards/visa.png') %>" />
                <p class="m-0 ml-3"><strong>Visa</strong> card ending in 1234.</p>
                <button class="btn btn-outline-primary ml-auto">Update Card</button>
              </div>
              <table class="table table-responsive">
                <thead>
                  <th>Invoice Period</th>
                  <th>Amount</th>
                  <th></th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a href="javascript:">January 2017</a>
                    </td>
                    <td>
                      $9.00 USD
                    </td>
                    <td class="text-right">
                      <a href="#">Download</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="javascript:">February 2017</a>
                    </td>
                    <td>
                      $9.00 USD
                    </td>
                    <td class="text-right">
                      <a href="javascript:">Download</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="javascript:">March 2017</a>
                    </td>
                    <td>
                      $9.00 USD
                    </td>
                    <td class="text-right">
                      <a href="javascript:">Download</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="plan-tab">
          <div class="card">
            <div class="card-body">
              <h5>PLAN</h5>
              <p>Your current plan is highlighted below, and you can change at any time.</p>
              <div class="plan-selector">
                <form action="">
                  <div class="form-check">
                    <label class="custom-control custom-radio">
                      <input name="plan-level" type="radio" class="custom-control-input" checked>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description d-flex w-100">
                        <div class="details">
                          <div class="plan-name">Indie</div>
                          <div class="plan-description">10 projects, 500MB storage</div>
                        </div>
                        <div class="price">
                          $9/mo
                        </div>
                      </span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="custom-control custom-radio">
                      <input name="plan-level" type="radio" class="custom-control-input">
                      <div class="highlight"></div>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description d-flex w-100">
                        <div class="details">
                          <div class="plan-name">Basic</div>
                          <div class="plan-description">20 projects, 1500MB storage</div>
                        </div>
                        <div class="price">
                          $19/mo
                        </div>
                      </span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="custom-control custom-radio">
                      <input name="plan-level" type="radio" class="custom-control-input">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description d-flex w-100">
                        <div class="details">
                          <div class="plan-name">Pro</div>
                          <div class="plan-description">30 projects, 2500MB storage</div>
                        </div>
                        <div class="price">
                          $29/mo
                        </div>
                      </span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="custom-control custom-radio">
                      <input name="plan-level" type="radio" class="custom-control-input">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description d-flex w-100">
                        <div class="details">
                          <div class="plan-name">Master</div>
                          <div class="plan-description">100 projects, Unlimited storage</div>
                        </div>
                        <div class="price">
                          $49/mo
                        </div>
                      </span>
                    </label>
                  </div>
                </form>
                <div class="actions d-flex">
                  <button class="btn btn-success ml-auto">Save Changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="notifications">
          <div class="card">
            <div class="card-body">
              <h5>NOTIFICATIONS</h5>
              <ul class="list-unstyled">
                <li class="d-flex align-items-center mb-4">
                  <div class="mr-auto">
                    <h6>DIGESTS</h6>
                    <p class="text-muted small">Choose wheather daily, weekly or monthly digests are emailed to you.</p>
                  </div>
                  <select class="custom-select small">
                    <option value="1">Daily</option>
                    <option value="2">Weekly</option>
                    <option value="3">Monthly</option>
                  </select>
                </li>
                <li class="d-flex align-items-center mb-4">
                  <div class="mr-auto">
                    <h6>SMS ALERTS</h6>
                    <p class="text-muted small">Choose whether to enable SMS alerts sent to you.</p>
                  </div>
                  <input type="checkbox" name="checkbox" class="bootstrap-switch" data-on-color="primary" checked/>
                </li>
                <li class="d-flex align-items-center mb-4">
                  <div class="mr-auto">
                    <h6>@ NOTIFICATIONS</h6>
                    <p class="text-muted small">Recieve a notification when some @'s you.</p>
                  </div>
                  <input type="checkbox" name="checkbox" class="bootstrap-switch" data-on-color="primary" checked/>
                </li>
                <li class="d-flex align-items-center mb-4">
                  <div class="mr-auto">
                    <h6>PROJECT ARCHIVE NOTIFICATIONS</h6>
                    <p class="text-muted small">Receive a notification when someone archives a project.</p>
                  </div>
                  <input type="checkbox" name="checkbox" class="bootstrap-switch" data-on-color="primary" checked/>
                </li>
                <li class="d-flex align-items-center mb-4">
                  <div class="mr-auto">
                    <h6>DEADLINE NOTIFICATIONS</h6>
                    <p class="text-muted small">Receive a notification when a deadline is about to expire.</p>
                  </div>
                  <input type="checkbox" name="checkbox" class="bootstrap-switch" data-on-color="primary" checked/>
                </li>
                <li class="d-flex align-items-center mb-4">
                  <div class="mr-auto">
                    <h6>MICROMANAGEMENT NOTIFICATIONS</h6>
                    <p class="text-muted small">Receive a notification when someone is about to micromanage the hell out of you.</p>
                  </div>
                  <input type="checkbox" name="checkbox" class="bootstrap-switch" data-on-color="primary" checked/>
                </li>
                <li class="d-flex align-items-center mb-4">
                  <div class="mr-auto">
                    <h6>MARKETING EMAILS</h6>
                    <p class="text-muted small">Opt in to our fantastical marketing emails.</p>
                  </div>
                  <input type="checkbox" name="checkbox" class="bootstrap-switch" data-on-color="primary" checked/>
                </li>
              </ul>
              <div class="actions d-flex">
                <button class="btn btn-success ml-auto">Save Changes</button>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="support" role="tabpanel" aria-labelledby="support">
          <div class="card">
            <div class="card-body">
              <h5>SUPPORT</h5>
              <div class="container">
                <div class="row mb-4">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="exampleFormControlInput1" class="d-flex align-items-center"><h6 class="mr-auto">Search Knowledge Base</h6><p class="small text-muted m-0">2,121 articles</p></label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Type your question here...">
                    </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12">
                    <div class="d-flex align-items-center">
                      <h6 class="mr-auto">Recent Support Forum Activity</h6>
                      <a href="javascript:" class="btn btn-link small m-0">Visit Forum &rarr;</a>
                    </div>
                    <table class='table table-responsive'>
                      <thead>
                        <th>
                          Thread Title
                        </th>
                        <th>
                          Date Opened
                        </th>
                        <th>
                          Last Activity
                        </th>
                      </thead>
                      <tr>
                        <td>
                          <a href="javascript:">How do I install this on Windows?</a>
                        </td>
                        <td>
                          2 days ago
                        </td>
                        <td>
                          10 mins ago
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="javascript:">Error opening main screen...</a>
                        </td>
                        <td>
                          2 days ago
                        </td>
                        <td>
                          10 mins ago
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="javascript:">Colossus demands to know my location?</a>
                        </td>
                        <td>
                          2 days ago
                        </td>
                        <td>
                          10 mins ago
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="javascript:">Reticulating splines is taking too long!</a>
                        </td>
                        <td>
                          2 days ago
                        </td>
                        <td>
                          10 mins ago
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
