<div class='row'>
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Basic Tables</h3>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th width="1"><input id="c" name="c" type="checkbox" value="1"></th>
              <th>Brand</th>
              <th>Size</th>
              <th>Color</th>
              <th>Note</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input id="c" name="c" type="checkbox" value="1"></td>
              <td>Banana Republic</td>
              <td>L</td>
              <td>Grey</td>
              <td>Worn by Don Draper, two times.</td>
              <td class="actions">
                <a href="#" rel="tooltip" title="Mark as important"><i class="fa fa-star"></i></a>
                <a href="#" rel="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                <a href="#" rel="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
              </td>
            </tr>
            <tr>
              <td><input id="c" name="c" type="checkbox" value="1"></td>
              <td>Banana Republic</td>
              <td>L</td>
              <td>Grey</td>
              <td>Worn by Don Draper, two times.</td>
              <td class="actions">
                <a href="#" rel="tooltip" title="Mark as important"><i class="fa fa-star"></i></a>
                <a href="#" rel="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                <a href="#" rel="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
              </td>
            </tr>
            <tr>
              <td><input id="c" name="c" type="checkbox" value="1"></td>
              <td>Banana Republic</td>
              <td>L</td>
              <td>Grey</td>
              <td>Worn by Don Draper, two times.</td>
              <td class="actions">
                <a href="#" rel="tooltip" title="Mark as important"><i class="fa fa-star"></i></a>
                <a href="#" rel="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                <a href="#" rel="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
              </td>
            </tr>
            <tr>
              <td><input id="c" name="c" type="checkbox" value="1"></td>
              <td>Banana Republic</td>
              <td>L</td>
              <td>Grey</td>
              <td>Worn by Don Draper, two times.</td>
              <td class="actions">
                <a href="#" rel="tooltip" title="Mark as important"><i class="fa fa-star"></i></a>
                <a href="#" rel="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                <a href="#" rel="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
              </td>
            </tr>
            <tr>
              <td><input id="c" name="c" type="checkbox" value="1"></td>
              <td>Banana Republic</td>
              <td>L</td>
              <td>Grey</td>
              <td>Worn by Don Draper, two times.</td>
              <td class="actions">
                <a href="#" rel="tooltip" title="Mark as important"><i class="fa fa-star"></i></a>
                <a href="#" rel="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                <a href="#" rel="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
              </td>
            </tr>
            <tr>
              <td><input id="c" name="c" type="checkbox" value="1"></td>
              <td>Banana Republic</td>
              <td>L</td>
              <td>Grey</td>
              <td>Worn by Don Draper, two times.</td>
              <td class="actions">
                <a href="#" rel="tooltip" title="Mark as important"><i class="fa fa-star"></i></a>
                <a href="#" rel="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                <a href="#" rel="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
              </td>
            </tr>
            <tr>
              <td><input id="c" name="c" type="checkbox" value="1"></td>
              <td>Banana Republic</td>
              <td>L</td>
              <td>Grey</td>
              <td>Worn by Don Draper, two times.</td>
              <td class="actions">
                <a href="#" rel="tooltip" title="Mark as important"><i class="fa fa-star"></i></a>
                <a href="#" rel="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                <a href="#" rel="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
              </td>
            </tr>
            <tr>
              <td><input id="c" name="c" type="checkbox" value="1"></td>
              <td>Banana Republic</td>
              <td>L</td>
              <td>Grey</td>
              <td>Worn by Don Draper, two times.</td>
              <td class="actions">
                <a href="#" rel="tooltip" title="Mark as important"><i class="fa fa-star"></i></a>
                <a href="#" rel="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                <a href="#" rel="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
              </td>
            </tr>
            <tr>
              <td><input id="c" name="c" type="checkbox" value="1"></td>
              <td>Banana Republic</td>
              <td>L</td>
              <td>Grey</td>
              <td>Worn by Don Draper, two times.</td>
              <td class="actions">
                <a href="#" rel="tooltip" title="Mark as important"><i class="fa fa-star"></i></a>
                <a href="#" rel="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                <a href="#" rel="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
              </td>
            </tr>
            <tr>
              <td><input id="c" name="c" type="checkbox" value="1"></td>
              <td>Banana Republic</td>
              <td>L</td>
              <td>Grey</td>
              <td>Worn by Don Draper, two times.</td>
              <td class="actions">
                <a href="#" rel="tooltip" title="Mark as important"><i class="fa fa-star"></i></a>
                <a href="#" rel="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                <a href="#" rel="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Panel title</h3>
      </div>
      <div class="card-body">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>No</th>
              <th>Full Name</th>
              <th>Location</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>1</td><td><strong>Fred Berlin</strong></td>
              <td>Vancouver, Canada</td>
              <td><span class="label label-success">Active</span></td>
              <td>
                <div class="btn-group btn-group-xs">
                  <a data-toggle="tooltip" class="btn btn-default" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                  <a data-toggle="tooltip" class="btn btn-default" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>2</td><td>Octavius Belt</td>
              <td>London, United Kingdom</td>
              <td><span class="label label-success">Active</span></td>
              <td>
                <div class="btn-group btn-group-xs">
                  <a data-toggle="tooltip" class="btn btn-default" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                  <a data-toggle="tooltip" class="btn btn-default" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>3</td><td><strong>Cash Money</strong></td>
              <td>Ney York City, USA</td>
              <td><span class="label label-success">Active</span></td>
              <td>
                <div class="btn-group btn-group-xs">
                  <a data-toggle="tooltip" class="btn btn-default" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                  <a data-toggle="tooltip" class="btn btn-default" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>4</td><td><strong>Bailey Bingface</strong></td>
              <td>Liberia</td>
              <td><span class="label label-success">Active</span></td>
              <td>
                <div class="btn-group btn-group-xs">
                  <a data-toggle="tooltip" class="btn btn-default" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                  <a data-toggle="tooltip" class="btn btn-default" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>5</td><td><strong>Altus Zombo</strong></td>
              <td>Monrovia</td>
              <td><span class="label label-danger">Suspended</span></td>
              <td>
                <div class="btn-group btn-group-xs">
                  <a data-toggle="tooltip" class="btn btn-default" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                  <a data-toggle="tooltip" class="btn btn-default" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>6</td><td><strong>Leslie Taket</strong></td>
              <td>Dublin, Ireland</td>
              <td><span class="label label-success">Active</span></td>
              <td>
                <div class="btn-group btn-group-xs">
                  <a data-toggle="tooltip" class="btn btn-default" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                  <a data-toggle="tooltip" class="btn btn-default" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Table Hover</h3>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Tables</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Michael</td>
              <td>Are formatted like this</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Lucille</td>
              <td>Do you like them?</td>
            </tr>
            <tr class="success">
              <td>3</td>
              <td>Success</td>
              <td></td>
            </tr>
            <tr class="danger">
              <td>4</td>
              <td>Danger</td>
              <td></td>
            </tr>
            <tr class="warning">
              <td>5</td>
              <td>Warning</td>
              <td></td>
            </tr>
            <tr class="info">
              <td>5</td>
              <td>Warning</td>
              <td></td>
            </tr>
            <tr class="active">
              <td>6</td>
              <td>Active</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Bordered &amp; Condensed</h3>
      </div>
      <div class="card-body">
        <table class="table table-striped table-bordered table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Tables</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Michael</td>
              <td>This one is bordered and condensed</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Lucille</td>
              <td>Do you still like it?</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
