.row
  .col-12
    .position-relative
      %table.table.table-responsive
        %thead
          %tr
            %th{scope: "col"} #
            %th{scope: "col"} Table heading
            %th{scope: "col"} Table heading
            %th{scope: "col"} Table heading
            %th{scope: "col"} Table heading
            %th{scope: "col"} Table heading
            %th{scope: "col"} Table heading
            %th{scope: "col"} Table heading
            %th{scope: "col"} Table heading
            %th{scope: "col"} Table heading
        %tbody
          %tr
            %th{scope: "row"} 1
            %td Table cell
            %td Table cell
            %td Table cell
            %td Table cell
            %td Table cell
            %td Table cell
            %td Table cell
            %td Table cell
            %td Table cell
          %tr
            %th{scope: "row"} 2
            %td Table cell
            %td Table cell
            %td Table cell
            %td Table cell
            %td Table cell
            %td Table cell
            %td Table cell
            %td Table cell
            %td Table cell
          %tr
            %th{scope: "row"} 3
            %td Table cell
            %td Table cell
            %td Table cell
            %td Table cell
            %td Table cell
            %td Table cell
            %td Table cell
            %td Table cell
            %td Table cell
