<div class="row top-summary">
  <div class="col-lg-3 col-md-6 col-sm-12 animate-drop-fade">
    <div class="panel">
      <div class="panel-heading">
        <p class="lead"><i class="fa fa-globe fa-fw"></i> TOTAL <b>PAGE HITS</b></p>
      </div>
      <div class='panel-body text-red-400'>
        <h2 class='page-hits'>1123</h2>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-12">
            <i class="fa fa-caret-down"></i> <b>10%</b> decrease in page hits.
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 animate-drop-fade">
    <div class="panel">
      <div class="panel-heading">
        <p class="lead"><i class="fa fa-trophy fa-fw"></i> TOTAL <b>SALES</b></p>
      </div>
      <div class='panel-body text-light-blue-400'>
        <h2>$12,121</h2>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-12">
            <i class="fa fa-minus"></i> <b>No change</b> in sales
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 animate-drop-fade">
    <div class="panel">
      <div class="panel-heading">
        <p class="lead"><i class="fa fa-dollar fa-fw"></i> TOTAL <b>REVENUE</b></p>
      </div>
      <div class='panel-body text-green-400'>
        <h2>$100,123</h2>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-12">
            <i class="fa fa-caret-up"></i> <b>12%</b> increase in revenue.
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 animate-drop-fade">
    <div class="panel">
      <div class="panel-heading">
        <p class="lead"><i class="fa fa-users fa-fw"></i> ACTIVE <b>CUSTOMERS</b></p>
      </div>
      <div class='panel-body text-green-400'>
        <h2>23,453</h2>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-12">
            <i class="fa fa-caret-up"></i> <b>1%</b> increase in active customers.
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 animate-fade-in-1000">
    <div class="panel">
      <div class="panel-heading">
        <h5>Master Server</h5>
      </div>
      <div class="panel-body">
        <div class="container-fluid">

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div id="realtime" style="height: 315px; width: 100%; display: block;">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="server-status-details clearfix">
                <h5>Memory Stats</h5>
                <div class="row">
                  <dl class="col-xs-6 col-sm-6 col-md-3">
                    <dt>In use</dt>
                    <dd>2.5 GB</dd>
                  </dl>
                  <dl class="col-xs-6 col-sm-6 col-md-3">
                    <dt>Total</dt>
                    <dd>4 GB</dd>
                  </dl>
                  <dl class="col-xs-6 col-sm-6 col-md-3">
                    <dt>Available</dt>
                    <dd>500 MB</dd>
                  </dl>
                  <dl class="col-xs-6 col-sm-6 col-md-3">
                    <dt>Swap</dt>
                    <dd>360 MB</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 animate-fade-in-1000">
    <div class="panel">
      <div class="panel-heading">
        <h5>New Support Requests</h5>
      </div>
      <div class="panel-body panel-list">
        <div class="list-group">
          <div class="list-group-item media">
            <a class="pull-left">
              <i class="avatar-notification"></i>
              <img class="media-object img-circle" src="http://fillmurray.com/64/64">
            </a>
            <div class="media-body">
              <h5 class="media-heading">Momoko Price</h5>
              <small class="text-muted">Hey, I have the new designs ready. But I could use some feedback on the color choices.</small>
            </div>
            <ul class="list-unstyled list-inline text-right">
              <li>
                <small class="text-muted"><a href="#">View</a></small>
              </li>
              <li>
                <small class="text-muted"><a href="#">Archive</a></small>
              </li>
            </ul>
          </div>
          <div class="list-group-item media">
            <a class="pull-left">
              <i class="avatar-notification danger"></i>
              <img class="media-object img-circle" src="http://fillmurray.com/64/64">
            </a>
            <div class="media-body">
              <h5 class="media-heading">Momoko Price</h5>
              <small class="text-muted">Hey, I have the new designs ready. But I could use some feedback on the color choices.</small>
            </div>
            <ul class="list-unstyled list-inline text-right">
              <li>
                <small class="text-muted"><a href="#">View</a></small>
              </li>
              <li>
                <small class="text-muted"><a href="#">Archive</a></small>
              </li>
            </ul>
          </div>
          <div class="list-group-item media">
            <a class="pull-left">
              <i class="avatar-notification warning"></i>
              <img class="media-object img-circle" src="http://fillmurray.com/64/64">
            </a>
            <div class="media-body">
              <h5 class="media-heading">Momoko Price</h5>
              <small class="text-muted">Hey, I have the new designs ready. But I could use some feedback on the color choices.</small>
            </div>
            <ul class="list-unstyled list-inline text-right">
              <li class='pr0'>
                <small class="text-muted"><a href="#">View</a></small>
              </li>
              <li>
                <small class="text-muted"><a href="#">Archive</a></small>
              </li>
            </ul>
          </div>
          <div class="list-group-item media">
            <a class="pull-left">
              <i class="avatar-notification success"></i>
              <img class="media-object img-circle" src="http://fillmurray.com/64/64">
            </a>
            <div class="media-body">
              <h5 class="media-heading">Momoko Price</h5>
              <small class="text-muted">Hey, I have the new designs ready. But I could use some feedback on the color choices.</small>
            </div>
            <ul class="list-unstyled list-inline text-right">
              <li>
                <small class="text-muted"><a href="#">View</a></small>
              </li>
              <li>
                <small class="text-muted"><a href="#">Archive</a></small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Online Users</h3>
      </div>
      <div class="panel-body">
        <div id="map_canvas_1"></div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Most Active Users</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Full Name</th>
                <th>Location</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>1</td><td><strong>Fred Berlin</strong></td>
                <td>Vancouver, Canada</td>
                <td><span class="label label-success">Active</span></td>
                <td>
                  <div class="btn-group btn-group-xs">
                    <a data-toggle="tooltip" class="btn btn-default" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                    <a data-toggle="tooltip" class="btn btn-default" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>2</td><td>Octavius Belt</td>
                <td>London, United Kingdom</td>
                <td><span class="label label-success">Active</span></td>
                <td>
                  <div class="btn-group btn-group-xs">
                    <a data-toggle="tooltip" class="btn btn-default" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                    <a data-toggle="tooltip" class="btn btn-default" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>3</td><td><strong>Cash Money</strong></td>
                <td>Ney York City, USA</td>
                <td><span class="label label-success">Active</span></td>
                <td>
                  <div class="btn-group btn-group-xs">
                    <a data-toggle="tooltip" class="btn btn-default" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                    <a data-toggle="tooltip" class="btn btn-default" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>4</td><td><strong>Bailey Bingface</strong></td>
                <td>Liberia</td>
                <td><span class="label label-success">Active</span></td>
                <td>
                  <div class="btn-group btn-group-xs">
                    <a data-toggle="tooltip" class="btn btn-default" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                    <a data-toggle="tooltip" class="btn btn-default" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>5</td><td><strong>Altus Zombo</strong></td>
                <td>Monrovia</td>
                <td><span class="label label-danger">Suspended</span></td>
                <td>
                  <div class="btn-group btn-group-xs">
                    <a data-toggle="tooltip" class="btn btn-default" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                    <a data-toggle="tooltip" class="btn btn-default" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>6</td><td><strong>Leslie Taket</strong></td>
                <td>Dublin, Ireland</td>
                <td><span class="label label-success">Active</span></td>
                <td>
                  <div class="btn-group btn-group-xs">
                    <a data-toggle="tooltip" class="btn btn-sm" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                    <a data-toggle="tooltip" class="btn btn-sm" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>7</td><td><strong>Leslie Taket</strong></td>
                <td>Dublin, Ireland</td>
                <td><span class="label label-success">Active</span></td>
                <td>
                  <div class="btn-group btn-group-xs">
                    <a data-toggle="tooltip" class="btn btn-sm" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                    <a data-toggle="tooltip" class="btn btn-sm" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>8</td><td><strong>Leslie Taket</strong></td>
                <td>Dublin, Ireland</td>
                <td><span class="label label-success">Active</span></td>
                <td>
                  <div class="btn-group btn-group-xs">
                    <a data-toggle="tooltip" class="btn btn-sm" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                    <a data-toggle="tooltip" class="btn btn-sm" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>9</td><td><strong>Leslie Taket</strong></td>
                <td>Dublin, Ireland</td>
                <td><span class="label label-success">Active</span></td>
                <td>
                  <div class="btn-group btn-group-xs">
                    <a data-toggle="tooltip" class="btn btn-sm" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                    <a data-toggle="tooltip" class="btn btn-sm" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>10</td><td><strong>Leslie Taket</strong></td>
                <td>Dublin, Ireland</td>
                <td><span class="label label-success">Active</span></td>
                <td>
                  <div class="btn-group btn-group-xs">
                    <a data-toggle="tooltip" class="btn btn-sm" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                    <a data-toggle="tooltip" class="btn btn-sm" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>