<div class="row top-summary">
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="panel">
      <div class="panel-heading">
        <p class="lead"><i class="fa fa-globe fa-fw"></i> TOTAL <b>PAGE HITS</b></p>
      </div>
      <div class='panel-body'>
        <h2>1,123</h2>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-12">
            <i class="fa fa-caret-down"></i> <b>10%</b> decrease in page hits.
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="panel">
      <div class="panel-heading">
        <p class="lead"><i class="fa fa-trophy fa-fw"></i> TOTAL <b>SALES</b></p>
      </div>
      <div class='panel-body'>
        <h2>12,121</h2>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-12">
            <i class="fa fa-minus"></i> <b>No change</b> in sales
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="panel">
      <div class="panel-heading">
        <p class="lead"><i class="fa fa-dollar fa-fw"></i> TOTAL <b>REVENUE</b></p>
      </div>
      <div class='panel-body'>
        <h2>$100,123</h2>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-12">
            <i class="fa fa-caret-up"></i> <b>12%</b> increase in revenue.
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="panel">
      <div class="panel-heading">
        <p class="lead"><i class="fa fa-users fa-fw"></i> ACTIVE <b>CUSTOMERS</b></p>
      </div>
      <div class='panel-body'>
        <h2>23,453</h2>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-12">
            <i class="fa fa-caret-up"></i> <b>1%</b> increase in active customers.
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
