<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">CSS Switches</h3>
    </div>
    <div class="panel-body">
      <label class="switch switch-default"><input type="checkbox"><span></span></label>
      <label class="switch switch-warning"><input type="checkbox" checked><span></span></label>
      <label class="switch switch-info"><input type="checkbox" checked><span></span></label>
      <label class="switch switch-danger"><input type="checkbox" checked><span></span></label>
      <label class="switch switch-success"><input type="checkbox" checked><span></span></label>
    </div>
</div>