<% content_for :js_libs, "modernizr gmaps flot chartjs demo-dashboard demo-chartjs demo-sparklines" %>
<% content_for :no_page_header, true %>

<section class="bg-white px-3 mb-3 d-flex flex-column">
  <header class="d-flex pt-4 pb-3 align-items-center">
    <h3 class="mr-auto">International Order Shipping</h3>
    <button class="btn btn-icon btn-outline-primary" href="javascript:"> <i class="ti-settings "></i> </button>
  </header>
  <div class="row">
    <ul class="nav nav-tabs p-0 inspectable" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
          role="tab" aria-controls="home" aria-expanded="true" aria-selected="true">Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"
          role="tab" aria-controls="profile" aria-selected="false">Analytics</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"
          role="tab" aria-controls="profile" aria-selected="false">Invoices</a>
      </li>
    </ul>
  </div>

</section>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-body">
          <p class="m-0"><strong>Subject Compliance Summary</strong></p>
          <p class="small m-0 text-uppercase text-muted">Period: Nov 1 - Dec 1</p>
          <div class="mt-3 py-4">
            <canvas class="sales-vs-refunds" style="display: block; height: 300px; width: 600px;"></canvas>
          </div>
        </div>
        <div class="card-footer d-flex align-items-center">
          <h6 class='m-0 mr-auto'>Subject Compliance Report</h6>
          <a class="btn btn-circle btn-outline-dark" href="">View Report</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-body">
          <p class="m-0"><strong>Subject Compliance Summary</strong></p>
          <p class="small m-0 text-uppercase text-muted">Period: Nov 1 - Dec 1</p>
          <div class="mt-3 py-4">
            <canvas class="sales-vs-refunds-bars" style="display: block; height: 300px; width: 600px;"></canvas>
          </div>
        </div>
        <div class="card-footer d-flex align-items-center">
          <h6 class='m-0 mr-auto'>Subject Compliance Report</h6>
          <a class="btn btn-circle btn-outline-dark" href="">View Report</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-body">
          <p class="m-0"><strong>Subject Compliance Summary</strong></p>
          <p class="small m-0 text-uppercase text-muted">Period: Nov 1 - Dec 1</p>
          <div class="mt-3 py-4">
            <canvas class="demo-pie" style="display: block; height: 300px; width: 600px;"></canvas>
          </div>
        </div>
        <div class="card-footer d-flex align-items-center">
          <h6 class='m-0 mr-auto'>Subject Compliance Report</h6>
          <a class="btn btn-circle btn-outline-dark" href="javascript:">View Report</a>
        </div>
      </div>
    </div>
  </div>
</div>
