<%= content_for :js_libs, "modernizr gmaps flot chartjs demo-dashboard demo-chartjs demo-sparklines" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-body">
          <p class="m-0"><strong>Subject Compliance Summary</strong></p>
          <p class="small m-0 text-uppercase text-muted">Period: Nov 1 - Dec 1</p>
          <div class="mt-3 py-4">
            <canvas class="sales-vs-refunds" style="display: block; height: 300px; width: 600px;"></canvas>
          </div>
        </div>
        <div class="card-footer d-flex align-items-center">
          <h6 class='m-0 mr-auto'>Subject Compliance Report</h6>
          <a class="btn btn-circle btn-outline-dark" href="">View Report</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-body">
          <p class="m-0"><strong>Subject Compliance Summary</strong></p>
          <p class="small m-0 text-uppercase text-muted">Period: Nov 1 - Dec 1</p>
          <div class="mt-3 py-4">
            <canvas class="sales-vs-refunds-bars" style="display: block; height: 300px; width: 600px;"></canvas>
          </div>
        </div>
        <div class="card-footer d-flex align-items-center">
          <h6 class='m-0 mr-auto'>Subject Compliance Report</h6>
          <a class="btn btn-circle btn-outline-dark" href="">View Report</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-body">
          <p class="m-0"><strong>Subject Compliance Summary</strong></p>
          <p class="small m-0 text-uppercase text-muted">Period: Nov 1 - Dec 1</p>
          <div class="mt-3 py-4">
            <canvas class="demo-pie" style="display: block; height: 300px; width: 600px;"></canvas>
          </div>
        </div>
        <div class="card-footer d-flex align-items-center">
          <h6 class='m-0 mr-auto'>Subject Compliance Report</h6>
          <a class="btn btn-circle btn-outline-dark" href="javascript:">View Report</a>
        </div>
      </div>
    </div>
  </div>
</div>
