<% content_for :no_page_header, true %>
<% content_for :js_libs, "modernizr gmaps flot chartjs demo-dashboard demo-chartjs demo-sparklines" %>

<section class="bg-light px-3 pt-5 pb-3 mb-3 d-flex flex-column">
  <div class="container-fluid">
    <div class="row equal-cols">

      <div class="col-12 col-md-3">
        <h4 class="leading-normal m-0 p-0">Welcome back, Elliot.</h4>
        <p class="leading-normal small">Today is going to be a great day!</p>
        <ul class="m-0 p-0 mb-5 small">
          <li>You have 5 new followers.</li>
          <li>132 people have liked your posts.</li>
          <li>Network maintenance is happening at 5pm today.</li>
        </ul>
        <a class="btn btn-primary mb-3" href="javascript:">Go to Timeline &rarr;</a>
        <a class="btn btn-info" href="javascript:">See activity feed &rarr;</a>
      </div>

      <div class="col-12 col-md-6">
        <div class="card card-full-height">
          <div class="card-body">
            <canvas data-chartjs-line-demo></canvas>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3 d-flex flex-column justify-items-between">

        <div class="card card-mini card-mini-solid-icon">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h6 class="m-0 text-muted">Page Hits</h6>
                <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000"
                  data-refresh-interval="80">192</h4>
              </div>
              <div class="d-flex align-self-center text-primary ml-3">
                <span>
                  <i class="display-4 ti-world  "></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-mini card-mini-solid-icon">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h6 class="m-0 text-muted">Ecoin Transfers</h6>
                <h4 class="m-0 counter" data-from="0" data-to="22000" data-speed="5000"
                  data-refresh-interval="80">22,000</h4>
              </div>
              <div class="d-flex align-self-center text-primary ml-3">
                <span>
                  <i class="display-4 ti-pulse  "></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-mini card-mini-solid-icon">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h6 class="m-0 text-muted">Transactions</h6>
                <h4 class="m-0 counter" data-from="0" data-to="1383" data-speed="5000"
                  data-refresh-interval="80">22,000</h4>
              </div>
              <div class="d-flex align-self-center text-primary ml-3">
                <span>
                  <i class="display-4 ti-package  "></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card inspectable">
        <div class="card-header d-flex align-items-center">
          <h6>Most Active Users</h6>
          <div class="ml-auto btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-default active">Week</button>
            <button type="button" class="btn btn-default">Month</button>
            <button type="button" class="btn btn-default">Quarter</button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Rank</th>
                <th>Email</th>
                <th>Name</th>
                <th>Installs</th>
                <th>Last Active</th>
                <th>Countries</th>
                <th>Activity</th>
              </tr>
            </thead>
            <% (1..10).each do |index| %>
              <tr>
                <td><%= index %></td>
                <td>johnny@appleseed.com</td>
                <td>Johnny Appleseed</td>
                <td><%=sprintf('%.2f', (rand * 1000).round).gsub('.00','').reverse.scan(/(\d*\.\d{1,3}|\d{1,3})/).join(',').reverse %></td>
                <td>Wed, 3rd Oct 2018</td>
                <td>Canada, USA</td>
                <td><span class="spark-bar-1" sparkbarcolor="#6886a7" style="width: 100px;"><%=(0..8).to_a.shuffle.join(', ') %></span></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
