<div id="main" class="devise-1">
  <div class="container-fluid">
    <div class="row">
      <header class="text-center">
        <h1>My App</h1>
        <p class="p-0 m-0 text-uppercase">Login</p>
      </header>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-md-6 mr-auto ml-auto">
        <div class="card">
          <div class="card-body">
            <div class="container">
              <form accept-charset="UTF-8" action="#" class="form-horizontal" id="new_user" method="post">
                <div class="form-group row">
                  <label class="form-label" for="user_email">Email</label>
                  <input autofocus="autofocus" class="form-control" id="user_email" name="user[email]" type="email" value="">
                </div>
                <div class="form-group row">
                  <label class="form-label" for="user_password">Password</label>
                  <input class="form-control" id="user_password" name="user[password]" type="password">
                </div>

                <div class="d-flex align-items-center">
                  <div class="checkbox m-0 mr-auto">
                    <input id="checkbox1" type="checkbox">
                    <label for="checkbox1">
                      Remember Me
                    </label>
                  </div>
                  <input class="btn btn-primary pull-right mr20" name="commit" type="button" value="Log in">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 mr-auto ml-auto">
        <div class="container">
          <ul class="row list-unstyled options">
            <li class="col-12 col-md-6"><a href="#">Sign up</a></li>
            <li class="col-12 col-md-6"><a href="#">Forgot your password?</a></li>
            <li class="col-12 col-md-6"><a href="#">Didn't receive confirmation instructions?</a></li>
            <li class="col-12 col-md-6"><a href="#">Didn't receive unlock instructions?</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
