<div id="main" class='devise login'>
  <div class="container-fluid">
    <div class="row">
      <header class="text-center">
        <h1>My App</h1>
        <p class="p0 m0">Change Your Password</p>
      </header>
    </div>
    <div class="row mt20">
    <form accept-charset="UTF-8" action="#" class="form-horizontal col-xs-12 col-md-6 col-md-offset-3" id="new_user" method="post">
        <div class="sheet form-sheet form-inputs">
          <div class="sheet-inner">
            <div class="form-group ">
              <label class="form-label" for="user_email">New Password</label>
              <input autofocus="autofocus" class="col-md3" id="user_email" name="user[email]" type="password" value="">
            </div>
            <div class="form-group ">
              <label class="form-label" for="user_email">Confirm Password</label>
              <input autofocus="autofocus" class="col-md3" id="user_email" name="user[email]" type="password" value="">
            </div>
          </div>
        </div>
        <div class="form-actions text-right">
          <input class="btn btn-primary" name="commit" type="submit" value="Change my Password">
        </div>
      </form>
    </div>
  </div>
</div>