<div id="main" class="devise-1">
  <div class="container-fluid">
    <div class="row">
      <header class="text-center">
        <h1>My App</h1>
        <p class="p-0 m-0 text-uppercase">Resend Account Confirmation Instuctions</p>
      </header>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-md-6 mr-auto ml-auto">
        <div class="card">
          <div class="card-body">
            <div class="container">
              <form accept-charset="UTF-8" action="#" class="form-horizontal" id="edit_user" method="post" novalidate="novalidate">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label" for="user_email">Email</label>
                  <div class="col-md-8">
                    <input class="form-control" id="user_email" name="user[email]" required="required" type="email" value="test@example.com">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label" for="user_password">Password</label>
                  <div class="col-md-8">
                    <input class="form-control" id="user_password" name="user[password]" type="email">
                    <div class="help-block">
                      Leave it blank if you don't want to change it.
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="user_password_confirmation">Password confirmation</label>
                  <div class="col-md-8">
                    <input class="form-control" id="user_password_confirmation" name="user[password_confirmation]" type="password">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="user_current_password">Current password</label>
                  <div class="col-md-8">
                    <input class="form-control" id="user_current_password" name="user[current_password]" type="password">
                    <div class="help-block">
                      We need your current password to confirm your changes.
                    </div>
                  </div>
                </div>
                <div class="row d-flex align-items-center mt-5">
                  <a class="mr-auto text-danger" href="#" rel="nofollow">Cancel my account?</a>
                  <div>
                    <input class="btn btn-outline-default" name="commit" type="button" value="Not now">
                    <input class="btn btn-primary" name="commit" type="button" value="Update">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

