<div class="container-fluid">
  <div class="row equal-cols">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="card card-default card-full-height">
        <div class="card-header">
          <h3 class="card-title">Contextual Colors</h3>
        </div>
        <div class="card-body">
          <ul class="list-inline">
            <li class="text-muted">.text-muted</li>
            <li class="text-primary">.text-primary</li>
            <li class="text-warning">.text-warning</li>
            <li class="text-danger">.text-danger</li>
            <li class="text-success">.text-success</li>
            <li class="text-info">.text-info</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Contextual Backgrounds</h3>
        </div>
        <div class="card-body">
          <p class="bg-primary p-2">.bg-primary</p>
          <p class="bg-success p-2">.bg-success</p>
          <p class="bg-info p-2">.bg-info</p>
          <p class="bg-warning p-2">.bg-warning</p>
          <p class="bg-danger p-2">.bg-danger</p>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <h6>Grays</h6>
        </div>
        <div class="card-body">
          <p class="bg-gray-100 p-2">.bg-gray-100</p>
          <p class="bg-gray-200 p-2">.bg-gray-200</p>
          <p class="bg-gray-300 p-2">.bg-gray-300</p>
          <p class="bg-gray-400 p-2">.bg-gray-400</p>
          <p class="bg-gray-500 p-2">.bg-gray-500</p>
          <p class="bg-gray-600 p-2">.bg-gray-600</p>
          <p class="bg-gray-700 p-2">.bg-gray-700</p>
          <p class="bg-gray-800 p-2">.bg-gray-800</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <h6>Primary Shades</h6>
        </div>
        <div class="card-body">
          <p class="bg-primary-darkest p-2">.bg-primary-darkest</p>
          <p class="bg-primary-darker p-2">.bg-primary-darker</p>
          <p class="bg-primary-dark p-2">.bg-primary-dark</p>
          <p class="bg-primary p-2">.bg-primary</p>
          <p class="bg-primary-light p-2">.bg-primary-light</p>
          <p class="bg-primary-lighter p-2">.bg-primary-lighter</p>
          <p class="bg-primary-lightest p-2">.bg-primary-lightest</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row equal-cols">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <h6>Success Shades</h6>
        </div>
        <div class="card-body">
          <p class="bg-success-darkest p-2">.bg-success-darkest</p>
          <p class="bg-success-darker p-2">.bg-success-darker</p>
          <p class="bg-success-dark p-2">.bg-success-dark</p>
          <p class="bg-success p-2">.bg-success</p>
          <p class="bg-success-light p-2">.bg-success-light</p>
          <p class="bg-success-lighter p-2">.bg-success-lighter</p>
          <p class="bg-success-lightest p-2">.bg-success-lightest</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <h6>Info Shades</h6>
        </div>
        <div class="card-body">
          <p class="bg-info-darkest p-2">.bg-info-darkest</p>
          <p class="bg-info-darker p-2">.bg-info-darker</p>
          <p class="bg-info-dark p-2">.bg-info-dark</p>
          <p class="bg-info p-2">.bg-info</p>
          <p class="bg-info-light p-2">.bg-info-light</p>
          <p class="bg-info-lighter p-2">.bg-info-lighter</p>
          <p class="bg-info-lightest p-2">.bg-info-lightest</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row equal-cols">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <h6>Warning Shades</h6>
        </div>
        <div class="card-body">
          <p class="bg-warning-darkest p-2">.bg-warning-darkest</p>
          <p class="bg-warning-darker p-2">.bg-warning-darker</p>
          <p class="bg-warning-dark p-2">.bg-warning-dark</p>
          <p class="bg-warning p-2">.bg-warning</p>
          <p class="bg-warning-light p-2">.bg-warning-light</p>
          <p class="bg-warning-lighter p-2">.bg-warning-lighter</p>
          <p class="bg-warning-lightest p-2">.bg-warning-lightest</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <h6>Danger Shades</h6>
        </div>
        <div class="card-body">
          <p class="bg-danger-darkest p-2">.bg-danger-darkest</p>
          <p class="bg-danger-darker p-2">.bg-danger-darker</p>
          <p class="bg-danger-dark p-2">.bg-danger-dark</p>
          <p class="bg-danger p-2">.bg-danger</p>
          <p class="bg-danger-light p-2">.bg-danger-light</p>
          <p class="bg-danger-lighter p-2">.bg-danger-lighter</p>
          <p class="bg-danger-lightest p-2">.bg-danger-lightest</p>
        </div>
      </div>
    </div>
  </div>
</div>
