<div class="container-fluid">
  <ul class='list-unstyled list-inline box-list'>
    <li class="load-container load1 blue-400" style='height:250px;'><div class="loader">Loading...</div></li>
    <li class="load-container load2 blue-400" style='height:250px;'><div class="loader">Loading...</div></li>
    <li class="load-container load3 blue-400" style='height:250px;'><div class="loader">Loading...</div></li>
    <li class="load-container load4 blue-400" style='height:250px;'><div class="loader">Loading...</div></li>
    <li class="load-container load5 blue-400" style='height:250px;'><div class="loader">Loading...</div></li>
    <li class="load-container load6 blue-400" style='height:250px;'><div class="loader">Loading...</div></li>
    <li class="load-container load7 blue-400" style='height:250px;'><div class="loader">Loading...</div></li>
    <li class="load-container load8 blue-400" style='height:250px;'><div class="loader">Loading...</div></li>
  </ul>

</div>
