
<div class="container">
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="load-container load1" style='height:250px;'><div class="loader">Loading...</div></div>
    </div>
    <div class="col-12 col-md-3">
      <div class="load-container load2" style='height:250px;'><div class="loader">Loading...</div></div>
    </div>
    <div class="col-12 col-md-3">
      <div class="load-container load3" style='height:250px;'><div class="loader">Loading...</div></div>
    </div>
    <div class="col-12 col-md-3">
      <div class="load-container load4" style='height:250px;'><div class="loader">Loading...</div></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="load-container load5" style='height:250px;'><div class="loader">Loading...</div></div>

    </div>
    <div class="col-12 col-md-3">
      <div class="load-container load6" style='height:250px;'><div class="loader">Loading...</div></div>

    </div>
    <div class="col-12 col-md-3">
      <div class="load-container load7" style='height:250px;'><div class="loader">Loading...</div></div>

    </div>
    <div class="col-12 col-md-3">
      <div class="load-container load8" style='height:250px;'><div class="loader">Loading...</div></div>

    </div>
  </div>
</div>
