<div class="container-fluid">
  <div class='row'>
    <div class='col-12'>
      <div class="card card-default" id="alerts">
        <div class="card-header">Standard Alerts
        </div>
        <div class="card-body">
          <div>
            <div class="alert">
              <h4>Warning!</h4>
              <p>This is a block style alert.</p>
            </div>
            <div class="alert alert-danger inspectable">
              <!-- component-title: Danger Alert -->
              <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
            </div>
            <div class="alert alert-success">
              <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
            </div>
            <div class="alert alert-warning">
              <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
            </div>
            <div class="alert alert-info">
              <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
            </div>
            <div class="alert alert-light" role="alert">
              This is a light alert—check it out!
            </div>
            <div class="alert alert-dark" role="alert">
              This is a dark alert—check it out!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-12'>
      <div class="card card-default" id="alerts">
        <div class="card-header">
          Outline Alerts
        </div>
        <div class="card-body">
          <div>
            <div class="alert">
              <h4>Warning!</h4>
              <p>This is a block style alert.</p>
            </div>
            <div class="alert alert-danger alert-outline">
              <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
            </div>
            <div class="alert alert-success alert-outline">
              <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
            </div>
            <div class="alert alert-warning alert-outline">
              <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
            </div>
            <div class="alert alert-info alert-outline">
              <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
            </div>
            <div class="alert alert-light alert-outline" role="alert">
              This is a light alert—check it out!
            </div>
            <div class="alert alert-dark alert-outline" role="alert">
              This is a dark alert—check it out!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class="card card-default" id="alerts">
        <div class="card-header">Dismissable Alerts
        </div>
        <div class="card-body">
          <div>
            <div class="alert">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <h4>Warning!</h4>
              <p>This is a block style alert.</p>
            </div>
            <div class="alert alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
            </div>
            <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
            </div>
            <div class="alert alert-warning">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
            </div>
            <div class="alert alert-info">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
            </div>
            <div class="alert alert-light" role="alert">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              This is a light alert—check it out!
            </div>
            <div class="alert alert-dark" role="alert">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              This is a dark alert—check it out!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class="card card-default" id="alerts">
        <div class="card-header">Rounded Alerts
        </div>
        <div class="card-body">
          <div>
            <div class="alert alert-danger alert-rounded">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
            </div>
            <div class="alert alert-success alert-rounded">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
            </div>
            <div class="alert alert-warning alert-rounded">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
            </div>
            <div class="alert alert-info alert-rounded">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
            </div>
            <div class="alert alert-light alert-rounded">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
            </div>
            <div class="alert alert-dark alert-rounded">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-12'>
      <div class="card card-default" id="alerts">
        <div class="card-header">Actionable Alerts
        </div>
        <div class="card-body">
          <div>
            <div class="alert alert-danger alert-actionable">
              <div class="alert-body">
                <div class="alert-text">
                  <h4>Danger!</h4>
                  <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
                </div>
              </div>
              <div class="alert-actions">
                <a class="btn btn-danger btn-sm" href="#">Okay</a>
                <a class="btn btn-danger btn-sm" href="#">Cancel</a>
              </div>
            </div>

            <div class="alert alert-success alert-actionable">
              <div class="alert-body">
                <div class="alert-text">
                  <h4>Warning!</h4>
                  <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
                </div>
              </div>
              <div class="alert-actions">
                <a class="btn btn-success btn-sm" href="#">Okay</a>
                <a class="btn btn-success btn-sm" href="#">Cancel</a>
              </div>
            </div>

            <div class="alert alert-warning alert-actionable">
              <div class="alert-body">
                <div class="alert-text">
                  <h4>Warning!</h4>
                  <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
                </div>
              </div>
              <div class="alert-actions">
                <a class="btn btn-warning btn-sm" href="#">Okay</a>
                <a class="btn btn-warning btn-sm" href="#">Cancel</a>
              </div>
            </div>

            <div class="alert alert-info alert-actionable">
              <div class="alert-body">
                <div class="alert-text">
                  <h4>Warning!</h4>
                  <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
                </div>
              </div>
              <div class="alert-actions">
                <a class="btn btn-info btn-sm" href="#">Okay</a>
                <a class="btn btn-info btn-sm" href="#">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-12'>
      <div class="card card-default" id="alerts">
        <div class="card-header">Icon Alerts
        </div>
        <div class="card-body">
          <div>
            <div class="alert alert-danger alert-actionable">
              <div class="alert-body">
                <i class="ti-hand-stop"></i>
                <div class="alert-text">
                  <h4>Danger!</h4>
                  <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
                </div>
              </div>
              <div class="alert-actions">
                <a class="btn btn-danger btn-sm" href="#">Okay</a>
                <a class="btn btn-danger btn-sm" href="#">Cancel</a>
              </div>
            </div>

            <div class="alert alert-success alert-actionable">
              <div class="alert-body">
                <i class="ti-check"></i>
                <div class="alert-text">
                  <h4>Well done!</h4>
                  <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
                </div>
              </div>
              <div class="alert-actions">
                <a class="btn btn-success btn-sm" href="#">Okay</a>
                <a class="btn btn-success btn-sm" href="#">Cancel</a>
              </div>
            </div>

            <div class="alert alert-warning alert-actionable">
              <div class="alert-body">
                <i class="ti-alert"></i>
                <div class="alert-text">
                  <h4>Warning!</h4>
                  <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
                </div>
              </div>
              <div class="alert-actions">
                <a class="btn btn-warning btn-sm" href="#">Okay</a>
                <a class="btn btn-warning btn-sm" href="#">Cancel</a>
              </div>
            </div>

            <div class="alert alert-info alert-actionable">
              <div class="alert-body">
                <i class="ti-info"></i>
                <div class="alert-text">
                  <h4>Information!</h4>
                  <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
                </div>
              </div>
              <div class="alert-actions">
                <a class="btn btn-info btn-sm" href="#">Okay</a>
                <a class="btn btn-link btn-sm" href="#">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
