<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h6>
            Basic Breadcrumbs
          </h6>
        </div>
        <div class="card-body inspectable">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">Home</li>
          </ol>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Library</li>
          </ol>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active">Data</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h6>
            Page Header with Breadcrumbs
          </h6>
        </div>
        <div class="card-body inspectable">
          <div class="page-header">
            <div class="d-flex mr-auto align-items-center">
              <h4 class="">Breadcrumbs</h4>
              <ol class="breadcrumb-1 text-right text-muted">
                <li class="breadcrumb-item">Ui Elements</li>
                <li class="breadcrumb-item">Breadcrumbs</li>
              </ol>
            </div>
            <div class="page-header-actions">
              <div class="dropdown">
                <button class="nav-link btn btn-icon " type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= theme_icon_tag "settings" %>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h6>
            Page Header with Breadcrumbs 2
          </h6>
        </div>
        <div class="card-body inspectable">
          <div class="page-header">
            <div class="d-flex mr-auto align-items-center">
              <h4 class="">Breadcrumbs</h4>
              <ol class="breadcrumb-2 text-right text-muted">
                <li class="breadcrumb-item">Ui Elements</li>
                <li class="breadcrumb-item">Breadcrumbs</li>
              </ol>
            </div>
            <div class="page-header-actions">
              <div class="dropdown">
                <button class="nav-link btn btn-icon " type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= theme_icon_tag "settings" %>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h6>
            Page Header with Breadcrumbs 3
          </h6>
        </div>
        <div class="card-body inspectable">
          <div class="page-header">
            <div class="d-flex mr-auto align-items-center">
              <h4 class="">Breadcrumbs</h4>
              <ol class="breadcrumb-3 text-right text-muted">
                <li class="breadcrumb-item">Ui Elements</li>
                <li class="breadcrumb-item">Breadcrumbs</li>
              </ol>
            </div>
            <div class="page-header-actions">
              <div class="dropdown">
                <button class="nav-link btn btn-icon " type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= theme_icon_tag "settings" %>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h6>
            Page Header with Breadcrumbs 4
          </h6>
        </div>
        <div class="card-body inspectable">
          <div class="page-header">
            <div class="mr-auto">
              <h4 class="">Breadcrumbs</h4>
              <ol class="breadcrumb-4 text-right text-muted">
                <li class="breadcrumb-item">Ui Elements</li>
                <li class="breadcrumb-item">Breadcrumbs</li>
              </ol>
            </div>
            <div class="page-header-actions">
              <div class="dropdown">
                <button class="nav-link btn btn-icon " type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= theme_icon_tag "settings" %>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
