<div class="container-fluid">
  <div class='row'>

    <div class='col-sm-12'>
      <div class="card card-default">
        <div class="card-header">
          <h6>Image Thumbnails</h6>
        </div>
        <div class="card-body d-flex justify-content-between inspectable">
          <img src="//fillmurray.com/100/100" class="img-thumbnail">
          <img src="//fillmurray.com/100/100" class="rounded">
          <img src="//fillmurray.com/100/100" class="rounded-circle">
        </div>
      </div>
    </div>

    <div class='col-sm-12'>
      <div class="card card-default">
        <div class="card-header">
          <h6>Responsive Image</h6>
        </div>
        <div class="card-body inspectable">
          <img src="http://fillmurray.com/1080/200" alt="" class="img-fluid"/>
        </div>
      </div>
    </div>

    <div class='col-sm-12'>
      <div class="card card-default">
        <div class="card-header">
          <h6 class="card-title">Custom Content</h6>
        </div>
        <div class="card-body inspectable">
          <div class="row">
            <div class="col-lg-4">
              <div class="thumbnail">
                <img src="http://fillmurray.com/500/200" alt="" />
                <div class="caption">
                  <h5>Thumbnail Label</h5>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn btn-default">Action</a></p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="thumbnail">
                <img src="http://fillmurray.com/500/200" alt="" />
                <div class="caption">
                  <h5>Thumbnail Label</h5>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn btn-default">Action</a></p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="thumbnail">
                <img src="http://fillmurray.com/500/200" alt="" />
                <div class="caption">
                  <h5>Thumbnail Label</h5>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn btn-default">Action</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='col-sm-12'>
      <div class="card card-default">
        <div class="card-header">
          <h6 class="card-title">Default</h6>
        </div>
        <div class="card-body inspectable">
          <div class="row">
            <div class="col-3">
              <a href="#" class="thumbnail">
                <img src="http://fillmurray.com/300/300" alt="" />
              </a>
            </div>
            <div class="col-3">
              <a href="#" class="thumbnail">
                <img src="http://fillmurray.com/300/300" alt="" />
              </a>
            </div>
            <div class="col-3">
              <a href="#" class="thumbnail">
                <img src="http://fillmurray.com/300/300" alt="" />
              </a>
            </div>
            <div class="col-3">
              <a href="#" class="thumbnail">
                <img src="http://fillmurray.com/300/300" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
