<div class="container-fluid">
  <div class="card card-default">
    <div class="card-header">
      <h3 class="card-title">Jumbotron Header with Subtitle</h3>
    </div>
    <div class="card-body">
      <div class="jumbotron text-light cover-image" style="background-image: url(<%=asset_path(random_landscape_name) %>);">
        <div class="cover-content">
          <p class="subtitle">Ives Help Desk</p>
          <h1>Managing Memory Bloat in Ruby Processes</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-default">
    <div class="card-header">
      <h3 class="card-title">Cover Image Jumbotron</h3>
    </div>
    <div class="card-body">
      <div class="jumbotron text-light cover-image" style="background-image: url(<%=asset_path(random_landscape_name) %>);">
        <div class="cover-content">
          <h1>Ives Kitchen Sink</h1>
          <p>A quick preview of everything Ives has to offer.</p>
          <p><a class="btn btn-outline-primary btn-lg btn-flat">Learn more &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-default">
    <div class="card-header">
      <h3 class="card-title">Block color Jumbotron</h3>
    </div>
    <div class="card-body">
      <div class="jumbotron bg-primary text-light">
        <p class="subtitle">Ives Help Desk</p>
        <h1 class="display-3">Managing Memory Bloat in Ruby Processes</h1>
      </div>
    </div>
  </div>
  <div class="card card-default">
    <div class="card-header">
      <h3 class="card-title">Standard Jumbotron</h3>
    </div>
    <div class="card-body">
      <div class="jumbotron">
        <h1 class="display-3">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </p>
        </div>
      </div>
    </div>

  </div>
