<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h6>Basic List group</h6>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h6>Basic List group with Active item</h6>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item active">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h6>Basic List group Disabled item</h6>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item disabled">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h6>Basic List group with Media objects</h6>
        </div>
        <div class="card-body">
          <div class="list-group">
            <div class="list-group-item">
              <div class="media">
                <%= random_avatar 64, "img-circle d-flex mr-3" %>
                <div class="media-body">
                  <h5 class="media-header">Lisa Solvay</h5>
                  Hey, I have the new designs ready. But I could use some feedback on the color choices.
                </div>
              </div>
            </div>
            <div class="list-group-item media clearfix">
              <div class="media">
                <%= random_avatar 64, "img-circle d-flex mr-3" %>
                <div class="media-body">
                  <h5 class="media-header">Jim Fenix</h5>
                  Hey, I have the new designs ready. But I could use some feedback on the color choices.
                </div>
              </div>
            </div>
            <div class="list-group-item media clearfix">
              <div class="media">
                <%= random_avatar 64, "img-circle d-flex mr-3" %>
                <div class="media-body">
                  <h5 class="media-header">Jim Van Sant</h5>
                  Hey, I have the new designs ready. But I could use some feedback on the color choices.
                </div>
              </div>
            </div>
            <div class="list-group-item media clearfix">
              <div class="media">
                <%= random_avatar 64, "img-circle d-flex mr-3" %>
                <div class="media-body">
                  <h5 class="media-header">Jack Parsons</h5>
                  Hey, I have the new designs ready. But I could use some feedback on the color choices.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
